<%= title '龙氏脊筑' %>

<div class="weui-cells__title">我的龙氏脊筑服务</div>
<div class="weui-cells">
    <a class="weui-cell weui-cell_access" href="<%= service_spinebuild_my_record_path %>">
        <div class="weui-cell__bd">
            <p class="font">我的服务预约</p>
        </div>
        <div class="weui-cell__ft">
        </div>
    </a>
  </div>
  <div class="weui-cells">
    <a class="weui-cell weui-cell_access" href="<%= service_spinebuild_spine_programs_path %>">
        <div class="weui-cell__bd">
            <p class="font">我的服务方案</p>
        </div>
        <div class="weui-cell__ft">
        </div>
    </a>
</div>
