<style type="text/css">
	p{
		font-size: 16px;
		text-align: center;
		line-height: 30px;
	}
	.containe{
		margin-top: 15px;
		margin-right: 10px;
		margin-left: 10px;
		margin-bottom: 20px;
		font-size: 14px;
		line-height: 22px;
	}
	
</style>

<div>
	<div class="containe">
		<p><b>御易健消费共同体说明书</b></p>
		 <b>一、御易健消费共同体定位</b><br>
		 以在御易健商城针对本人或家庭管理健康上的消费作为承诺，并按照同样规则召集消费 者组成基本结构单元而形成管理健康消费共同体；其核心就是以未来管理健康消费承诺为基 础，按照御易健提供的基本规则，零资金投入、零风险，实现 1：3 消费收益的创收计划。 
		<br>
		<b>二、御易健消费共同体的基本结构(199)</b><br>
		 第一个以御易健商城上管理健康消费为承诺的承诺者召集 9 个相同承诺消费者组成一个 御易健消费共同体基本单元，然后 9 个被召集承诺消费者每个再召集 9 个承诺消费者，就构 成御易健消费共同体的基本结构。 
		<br>
		<b>三、参与基本流程</b><br>
		第一步:签订御易健管理健康消费承诺书;<br>
		第二步:按照同样标准召集完成 9 份御易健管理健康消费承诺，并签订承诺书; <br>第三步:按照要求链接御邦医通平行店; <br>
		第四步:收益达到承诺收益标准后，按照承诺书的标准完成健康消费 ; <br>第五步：完成承诺消费后，此次参与结束；如继续参与，按照第一步、第四步流程重新 启动，对应平行店的收益继续归本人所有，但需按照御邦医通平行店的运营要求进行维护。<br>
		<b>四、承诺消费标准及承诺收益</b><br>
		1、承诺消费标准:1000 元<br>
		2、承诺收益标准:3000 元<br>
		<b>五、承诺收益转实际收益的标准</b><br>
		1、实际收益达到 3000 元后，需在御易健消费 1000 元，对应获得御易健系统提供的价值 2000 元的管理健康相关产品或服务。<br>
		2、需将承诺收益的 3%即 90 元，捐入中华慈善总会有庆健康公益基金。 <br>
		<b>六、承诺消费者的实际收益</b> <br>
		承诺消费者按照参与流程完成一轮后，实际收益为： <br>
		1、御易健系统提供的价值 2000 元的管理健康相关产品或服务； <br>
		2、1910 元的现金收益。<br>
		<b>七、御易健消费共同体收益</b><br> 
		1、御邦医通平行店配领额 1-5%的分利。<br> 2、御易健消费共同体基本结构单元中直接被召集承诺消费者实际收益的 10%。<br>
		<b>八、御易健消费共同体参与关键时间节点</b><br>
		1、承诺书签订 3 日内，召集者需完成 9 份承诺消费，方可启动御易健消费共同体计划； 御邦医通消费共同体基本单元中的 10 人同时具有链接御邦医通平行店的权利；<br>
		2、计划启动 30 日内，召集者完成 3000 元承诺收益，如未完成，则取消召集政策收入<br>
		<p style="text-align: right;font-size: 14px">2017 年 12 月 20 日</p>
	</div>
</div>