<style type="text/css">
	.code{
		border: 1px solid #ccc;
		width: 300px;
		margin: 30px auto;
		height: 300px;
        position: relative;
	}
    .qr-code-invitation {
        position: absolute;
        top: 10px;
        left: 18%;

    }
</style>

<%= title "199计划" %>
<div>

	<div class="code">
        <div class="qr-code-invitation">
              <%= raw @qrcode.as_html %>
        </div>
	</div>
</div>
