<style media="screen">
  .guige-span{
    display: inline-block;
    padding: 0 15px;
    text-align: center;
    border-radius: 8px;
    font-size: 14px;
  }

  .action {
    background-color: #ad0e11;
    color: #fff;
  }

  .a{
    color: #ad0e11;
  }
</style>
<%= title '产品详情' %>
<div style="overflow-x: hidden;">
  <div class="pro-show">
    <div class="swiper-container swp_pro swiper-container-horizontal">
      <ul class="swiper-wrapper">
        <li class='swiper-slide swiper-slide-active'>
          <div class="product-image">
            这里写一下商品展示轮播图
          </div>
        </li>
      </ul>
    </div>
    <div class="pro-info">
      <p class="name">L-阿拉伯糖</p>
    </div>
  </div>


  <ul class="list-type" style="margin-bottom: 52px; border-bottom: 0;">


    <li class="arrow-right">
      <span class="choosed" >包装：20ml*20支/盒</span>
    </li>
    <li class="arrow-right">
      <span class="choosed">生产厂家：泰安市泰来生物科技有限公司</span>
    </li>

    <li class="arrow-right">
      <span class="choosed">说明：调节血糖，优化肠道菌群，活力肠道，排毒养颜，降血压</span>
    </li>
  </ul>
</div>
