<style type="text/css" media="screen">

	.containers{
		padding:0 5% 5% 5%;
	}

	.title {
		text-align: center;
		margin: 5% 0;
	}

	p {
		font-size: 16px;
		color: #444;
		line-height: 28px;
	}

	b {
		color: #000;
	}

	h4 {
		margin:2% 0;
	}
</style>

<div class="containers">
	<h3 class="title">御邦医通平行店合作协议</h3>
	<p><b>甲 方：</b>深圳御邦医通数字化健康服务有限公司（以下简称“甲方”）</p>
	<p style="margin-bottom: 20px;"><b>地 址：</b>深圳市南山区中山园路1001号国际E城F1栋6楼</p>

	<p style="text-indent: 24px;">甲乙双方经深度调研,本着平等自愿，共同、共建、共享、共赢的原则，达成合作关系，共同打造有庆体系数字时代民生健康商业生态合伙人共同体，同时就甲方和乙方合作植入御邦医通平行店（以下简称“平行店”）事宜达成一致，并制定本协议，以资共同恪守履行。</p>

	<h4>一、合作内容</h4>
	<p>1、乙方同意甲在其、乙方同意甲在其场所内建设平行店 ，店内产品配搭及铺货量由甲方 根据乙方所属行业、日现金流及乙方提供的空间综合评估确定。</p>
	<p>2、客户在乙方场所购买乙方产品或服务，平行配领同等价格的甲方产品,乙方按产品，乙方按配领 额的 _____%与甲方结算销售佣金。</p>
	<p>3、客户在 乙方 场所 购买平行店 的产品，需 遵循以下原则 ：
		<p>（1）乙方销售平行店产品， 不得 低于 8折销售 ；</p>
		<p>（2）客户平行配领店内同等价值的产品；</p>
		<p>（3）按甲方 销售 产品的 标准价5% 与乙方结算销售佣金 。</p>
	</p>
	<p>4、合作期间，乙方产品售价不得因甲植入而做乙方产品售价不得因甲植入而做 上调，因行业内同类产品价上调，因行业内同类产品价格浮动而调整的除外，但需要告知甲方 。（特殊情况除外）</p>
	<p>5、平行店需按统一标准建设，如：御邦医通logo标识 、让健康如影随行标识、御易健 二维码标识等。</p>
		<h4>二、双方权利与义务</h4>
	<p>1、甲方应向乙提供包括价目表技术文件和广告资料等必要的信息，并对乙方相关人员进行辅导培训。
	</p>
	<p>2、乙方全面配合甲方的线下工作， 安排指定人员维护产品及客户。</p>
	<p>3、乙方有权接受客户对产品的意见和申诉，并及时通知甲方，以关注甲方的切身利益为重。</p>
	<p>4、乙方可自行策划并实施针对平店产品的推广活动，但必须获得甲方事先书面同意，并在甲方指导下进行。</p>
	<h4>三、合作期限</h4>
	<p>1、本合同期限为一年，从签订之日起至 ______ 年_____月_____ 日止。</p>
	<p>2、本合同终止后，乙方应立即停使用甲任何的标识及知产权。</p>
	<p>3、乙方应在本合同终止之日起3个工作日内返还甲方为履行本合同而提供的所有物品，包括货、宣传资料文件及其副本。如有损坏或缺失需按照原价赔偿。</p>
	<h4>四、结算方式</h4>
	<p>1、乙方与甲的结算式
		<p>（1）日清 ：由乙方按配领额的 %支付 给甲 乙双方确认的平行店 链接 人员；</p>
		<p>（2）月结： 甲方 给乙方 按配领额 %开具发票 ，乙方按 月支付 给甲方 。</p>
	</p>
	<p>2、甲方与乙方的结算式:
		<p style="text-indent: 24px;">在御易健线上实时结算。</p>
	</p>
	<h4>五、保密条约</h4>
	<p>甲乙双方保证对在讨论、签订执行本协议过程中所获悉的属于且无法自公开渠道获得的文件及资料（包括商业机密、公司计划、运营活动、财务信息、技术信息、经营信息及其他商业机密）予以保密。未经该资料或文件所有方同意，另一方不得向任何第三方泄露任何内容（法律法规另有规定或双方单独约定的除外）。</p>
	<h4>六、争议的处理</h4>
	<p>1、本合同受中华人民共和国法律管辖并按其进行解释。</p>
	<p>2、因履行本合同引起的或与有关争议，双方应首先通过友好协商解决如果协商不能解 决争议，可向甲方公司住所地有管辖权的人民法院起诉。</p>
	<h4>七、合同的效力</h4>
	<p>本合同自双方或法定代表人其授权签字并加盖单位公章专用章之日起生效。</p>
</div>