
<%= title '平行待配领' %>
<div class="container">

	<div class="pro-order">
		<span>待领配订单</span>
	</div>
	<ul class="listShow">
		<% @shop_orders.each do |order_item| %>
			<a href="<%= wechat_parallel_shops_shopreceive_path(order_id: order_item) %>">
				<li>
					<div class="proRight">
						<p class="proName">叫号码:<span class="nameStyle"> <%= order_item.show_call_number %></span></p>
						<p class="proInfo">
							<span>顾客名: <%= WechatUser.find(order_item.wechat_user_id).user.name %></span>
						</p>
					</div>
				</li>
			</a>
		<% end %>
	</ul>
	
</div>

