
 <%= title '营业员输入金额' %>

<% if flash[:notice] %>
  <div class="notice"><%=flash[:notice]%></div>
<% end %>
<div class="waiterCss">
<%= form_tag wechat_parallel_shops_waiter_code_path, method: :get do %>
	<label for="conMoney" class="block-label">请输入用户消费金额</label>
	<div class="block-content">
		<span>￥</span>
		<input type="text" placeholder="请输入消费金额" name="con_money" id="conMoney" class="block-money">
	</div>
	<div class="block-btn-money">
		<input type="submit" value="确认" />
	</div>
<% end %>
</div>
