<style type="text/css" media="screen">
	.con-qr-block {
		margin-top: 10%;
	}

	.price {
		width:220px;
		height: 220px;
		margin: 0 auto;
		border:1px solid #ccc;
		margin-top: 10%;
	}

	.allPay p{
		text-align: center;
		font-size: 1.3rem;
		color:#000;	
	}

	.allPay p:nth-child(2) {
		color: #ad0e11;
		font-size: 1.5rem;
	}

	.listShow {
		width:85%;
		margin: 0 auto;
		border-top: 1px solid #ccc;
		padding:0;
	}

	.listShow li {
		display: flex;
		height:90px;
		border-bottom: 1px solid #ccc;
	}

	.listShow li .proLeft {
		width:90px;
	}

	.listShow li .proLeft img {
		width:80px;
		height:80px;
		margin: 5px 0 0 5px;
	}

	.listShow li .proRight {
		flex:1;
		padding-left: 5%;
	}

	.listShow li .proRight .proName {
		font-size: 18px;
		color:#474747;
		margin: 0;
		margin-top:18px;
	}

	.listShow li .proRight .proInfo {
		margin: 0;
		margin-top:10px;
		font-size: 14px;
		color:#888;
	}

    .qr-code-invitation {
        position: static;
        height:206px;
        margin-top: 5%;
    }

    .qr-code-invitation table{
        position:absolute;
        top:0;
        left:50%;
        margin-left: -98px;
    }
</style>

<%= title '营业员二维码' %>

<%= render "user/info/head" %>

<div class="con-qr-block">
	<div class="qr-code">
	  <%= raw @code.as_html %>
	</div>
	<div class="allPay">
		<p>尊敬的用户，您的领配金额为：</p>
		<p><%= @con_money %>元</p>
		<p>请确认后扫码</p>
	</div>
</div>
