
<%= title '营业员二维码' %>

<%= render "user/info/head" %>

<div class="con-qr-block">
	<div class="qr-code">
	  <%= raw @code.as_html %>
	</div>
	<div class="allPay">
		<p>尊敬的用户，您的领配金额为：</p>
		<p><%= @con_money %>元</p>
		<p>请确认后扫码</p>
	</div>
</div>
