<%= title '健康评估' %>

<div class="weui-cells__title">健康评估工具</div>
<div class="weui-cells">
    <a class="weui-cell weui-cell_access" href="<%= evaluate_index_path %>">
        <div class="weui-cell__bd">
            <p class="font">糖尿病评估工具</p>
        </div>
        <div class="weui-cell__ft">
        </div>
    </a>
</div>
