<%= title '完善资料' %>
<div class="login_control">
  <div class="login_label" style="font-size: 1rem;">完善资料</div>
  <div class="login_content">
    <input type="password" name="text" id="text" disabled="disabled">
  </div>
</div>
