<style type="text/css">

	.lightButton {
		position: absolute;
		bottom: 15%;
		left: 38%;
		width: 22%;
		display: block;
		color: #d7d0b8;
		border:1px solid #d7d0b8;
		border-radius: 15px;
		padding: 1% 2%;
		text-align: center;
	}

	.lightPro {
		position: absolute;
		top: 26%;
		left: 45%;
		width: 4%;
		display: block;
		color: #fff;
		border:1px dashed #d7d0b8;
		font-size: 12px;
		padding:0 1%;
		text-align: center;
	}

	.oneS {
		color: #d7d0b8;
		font-size: 14px;
		width: 100%;
		position: absolute;
		right: 0;
		bottom: 28%;
		text-align: center;
	}

	.ddUser {
		color: #fff;
		width: 80%;
		font-size: 18px;
		position: absolute;
		right: 10%;
		bottom: 23%;
		text-align: center;
	}

	.ddUser span {
		color: #d7d0b8;
	}

</style>


<div class="lightBg">
	<a class="lightPro" href="<%= wechat_lightIntro_path %>">明灯简介</a>
	<% if !current_user.nil? && current_user.user.staff_type == "R&D" %>
		<a class="lightButton" href="<%= wechat_lightRaise_path %>">公益捐赠</a>
	<% else %>
		<a class="lightButton" href="">公益捐赠</a>
	<% end %>
	<p class="oneS">你已成为点亮心灵一盏明灯，共筑民族时代精神的点灯人.</p>
	<!-- <div class="ddUser">您已成为第<span> 1127 </span>位点灯人</div> -->
</div>
