<style type="text/css">
	
	.lightButton {
		position: absolute;
		bottom: 18%;
		left: 38%;
		width: 22%;
		display: block;
		color: #d7d0b8;
		border:1px solid #d7d0b8;
		border-radius: 15px;
		padding: 1% 2%;
		text-align: center;
	}

</style>


<div class="lightBg">
	<a class="lightButton">募集基金</a>
</div>