
<style type="text/css">
	
	.introduce {
		color: #fff;
	}

	.introduce h3 {
		color: #d7d0b8;
		text-align: center;
		padding: 5% 0;
	}

	.intQy {
		width: 90%;
		padding: 2% 2%;
		font-size: 12px;
		margin:0 auto;
		border:1px dashed #ccc;
	}

	.intQy p {
		text-indent: 24px;
		color: #b9b9b8;
	}

	.intContent {
		width: 90%;
		margin:0 auto;
		padding-bottom: 5%;
	}

	.intContent h4 {
		margin: 2% 0;
	}

	.intContent p {
		font-size: 14px;
	}

	.intContent .partOne {
		text-indent: 28px;
	}

	.intContent .partTwo span {
		display: inline-block;
		font-weight: bolder;
	}

	.intContent .partThree span {
		display: block;
	}

</style>



<div class="introduce">
	<h3>原创音乐剧《一盏明灯·焦裕禄》</h3>
	<div class="intQy">
		<p>我希望通过学习焦裕禄精神，为推进党和人民事业发展、实现中华民族伟大复兴的中国梦提供强大正能量。</p>
		<p>焦裕禄同志用自己的实际行动，塑造了一个优秀共产党员和优秀县委书记的光辉形象，铸就了亲民爱民、艰
		苦奋斗、科学求实、迎难而上、无私奉献的焦裕禄精神。</p>
		<p>2017年5月3日，习近平总书记在中国政法大学讲话
		时指出：“焦裕禄精神跨越时空，永远不会过时，我们要结合时代特点不断发扬光大。焦裕禄精神一直是一盏
		明灯。学习焦裕禄精神诠释了中国共产党人的优秀品质”。</p>
		<p>—— 习近平总书记十八大以来关于学习焦裕禄精神的系列讲话节选</p>
	</div>
	<div class="intContent">
		<h4>·原创音乐剧《一盏明灯·焦裕禄》</h4>
		<p class="partOne">2017 年4 月11 日，经国家文化部主管的中华社会文化发展基金会批准决定，同意原创音乐剧《焦裕禄》版权方提出的
		申请报告，将原创音乐剧《焦裕禄》的版权交由中华社会文化发展基金会统一管理，并作为音乐剧弘扬焦裕禄精神的唯
		一指导单位。</p>
		<p class="partOne">为了贯彻落实习近平总书记2017 年5 月3 日在考察中国政法大学时发表的重要讲话，中华社会文化发展基金会从新的
		战略高度出发，明确了原创音乐剧《焦裕禄》全面升级为《一盏明灯·焦裕禄》，并确定了以“弘扬时代精神”为核心的战
		略定位。</p>
		<p class="partOne">原创音乐剧《一盏明灯·焦裕禄》是焦裕禄时代精神的引领和传承，是中国共产党人优秀品质的集中体现和发扬光大，是
		一种“不忘初心，继续前行”矢志不渝坚定跟党走的勇气和担当。原创音乐剧《一盏明灯·焦裕禄》将高举爱国主义伟大旗
		帜，弘扬时代主旋律，唱响为党的十九大献礼的赞歌，打造为实现中华民族伟大复兴的中国梦提供强大正能量的恢弘乐章
		和壮丽诗篇！</p>
		<h4>·《一盏明灯·焦裕禄》公益巡演</h4>
		<p class="partTwo"><span>意义:</span>
			为贯彻落实习近平总书记十八大以来关于学习和弘扬焦裕禄精神的系列重要讲话精神，特别是2017年5月3日在中国
			政法大学发表的“焦裕禄精神跨越时空，永远不会过时，我们要结合时代特点不断发扬光大。”“焦裕禄精神一直是一盏明灯。
			学习焦裕禄精神诠释了中国共产党人的优秀品质。”的重要讲话精神，经原创音乐剧《一盏明灯·焦裕禄》指导单位中华社会
			文化发展基金会组织专家顾问团队研讨确定：将高举爱国主义伟大旗帜，以“弘扬时代精神”为核心战略定位，将跨越时空的
			“焦裕禄精神”与“时代特点”相结合，与中国共产党培养的一大批优秀共产党员如：王进喜、雷锋、张秉贵、杨善洲、孔繁森、
			杨奎烈、任长霞、罗阳、林俊德、李文波、廖俊波、黄大年等等英雄模范人物的崇高品质和为人民服务的精神相结合，将英
			雄模范人物的光辉思想结合时代特点不断发扬光大，照亮前进的道路，为实现中华民族的伟大复兴的中国梦努力奋斗。
		</p>
		<p class="partTwo" style="margin-top: 1%;"><span>宗旨:</span><br>
			　　以习近平总书记“焦裕禄精神一直是一盏明灯”讲话精神为指导思想；<br>
			　　以“弘扬新时期焦裕禄时代精神，歌颂赞美伟大的中国共产党”为主题；<br>
			　　以“一盏明灯”的光明、引领、航向寓意作用作为全新制作的思想源泉。<br>
			　　以原创音乐剧《焦裕禄》为基础，经过主题思想和立意的提炼拔高，制作出充分展现在中
			　　国共产党这盏明灯指引下，在新时期一定会涌现出更多焦裕禄时代精神武装的好干部，引领着
			我们为实现中华民族的伟大复兴和中国梦而砥砺前行的主旋律舞台音乐剧。
		</p>
		<h4>·主创人员</h4>
		<p class="partThree">
			<span>总监制：蒋　晔</span>
			<span>总顾问：陆文虎</span>
			<span>艺术总监：李雪健</span>
			<span>艺术总监：高久林</span>
			<span>总策划人/总出品人：王宇晓</span>
			<span>导演：李稻川</span>
			<span>编剧/作词：妮　南</span>
			<span>作曲/编曲：刘　彤</span>
			<span>艺术顾问：左　青</span>
			<span>指挥：董俊杰</span>
			<span>总制片：向　前</span>
			<span>王祖皆</span>
		</p>
		<h4>·一盏明灯公益项目</h4>
		<p class="partThree">
			<span>原创音乐剧《一盏明灯·焦裕禄》</span>
			<span>原创音乐剧《一盏明灯·焦裕禄》音乐会版</span>
			<span>一盏明灯·时代精神主题公园</span>
			<span>一盏明灯·时代精神文献馆</span>
			<span>一盏明灯·时代精神美术工程</span>
			<span>一盏明灯·时代精神书画展</span>
			<span>原创音乐剧《一盏明灯·焦裕禄》艺术培训中心</span>
		</p>		
	</div>
</div>