<%= title "御邦医通家庭（个人）消费委托书" %>
<div class="containers consumer-entrustment">
  <h3 class="title">御邦医通家庭（个人）消费委托书</h3>
  <p>本人自愿，在御邦平行店（含合作商家）提供的产品、服务符合国家相关质量标准并真实能体现消费最实惠结果的前提下，自愿同意将本人和家庭的主要消费委托给御邦平行店和授权店提供消费指导和消费供给服务。</p>
  <p>1、凡在御邦平行店（含合作商家）消费最便宜、最实惠，具体如下：</p>

  <p>（1）在御邦平行店和授权店消费，直接获得超值医通配领值，形成家庭（个人）配领值账户，使用配领值可在医通影子店（线上、线下均可）直接等值配领获得消费最实惠结果。</p>
  <p>（2）在御易健商城线上御邦平行店消费或线上医通影子店配领下单的，可物流送达。</p>
  <p>（3）凡本人（家庭）的其他消费需求，在被授权店未经销或店内无现货的，可直接向对应御邦平行店提出消费需求，被授权店于3-5日内告知消费及等值配领最实惠方案供选择。</p>
  <p>2、本人自愿参与御邦平行店提供的“消费共同体计划”，在御邦医通系统支持和投资支持下，本人赚到3000元后，承诺在指定御邦平行店消费1000元对应获得2000元的自己需要的产品、服务。</p>
  <br><br>
  <p class="textRight">委托人签字：</p>
  <p class="textRight">签订日期：</p>
  <% if !current_user.user.is_entrust %>
  <div class="agreeCheckbox">
    <%= form_for :consumer_entrustment, url: "/user/update_consumer_entrustment" do |f| %>
      <%= f.check_box :is_entrust, html_options = {hidden: true, checked: true} %>

      <div class="yyj-btn yyj-btn-primary yyj-btn-tg-lg agree">
        <%= f.submit "同意" %>
      </div>    
    <% end %>
  </div>
  <% else %>
    <p class="yyj_confirm_tiny"> 恭喜您，您已经签订了该委托书 </p>
  <% end %>
</div>