
<div class="matching">
  <h3 class="title">御易健商城（即线上医通配领中心）----配领规则</h3>
  <p>御易健商城是依据“数字时代、影子经济、平行系统、等值配领”消费经济学运营原则，在御易健商城直接购买或委托御易健商城购买（如部分高保值、汽车、房产等）部分商品，实现“我店消费最实惠”的新消费商业模式。</p>
  <div class="textTitle">一、关于医通配领值的定位</div>
  <%= image_tag "flowChart.png",class:"flowChart" %>
  <p>1、本店所有商品均可按下表对应的产品类别获得配领值。</p>
  <p>2、客户支付配领值可即时、随时于御易健商城按配领规则领取产品。</p>
  <div class="textTitle">二、本店所有商品均可按下表对应的产品类别获得配领值</div>
  <table class="table">
    <tr>
      <th class="td">消费选项(配领类别）</th>
      <th class="td">配领值获得比例</th>
      <th class="td">个人配领值账户进账</th>
    </tr>
    <tr>
      <td class="td">T<sub>100</sub></td>
      <td class="td">消费金额1：2</td>
      <td class="td">消费金额*200%</td>
    </tr>
    <tr>
      <td class="td">T<sub>70</sub></td>
      <td class="td">消费金额1：1.5</td>
      <td class="td">消费金额*150%</td>
    </tr>
    <tr>
      <td class="td">T<sub>50</sub></td>
      <td class="td">消费金额1：1</td>
      <td class="td">消费金额*100%</td>
    </tr>
    <tr>
      <td class="td">T<sub>30</sub></td>
      <td class="td">消费金额1：0.6</td>
      <td class="td">消费金额*60%</td>
    </tr>
    <tr>
      <td class="td">T<sub>0</sub></td>
      <td class="td">特品另定</td>
      <td class="td">特品另定</td>
    </tr>
  </table>
  <div class="textTitle">三、本店所有商品均可使用配领值购买</div>
  <table class="table">
    <tr>
      <th class="td">配领类别</th>
      <th class="td">配领规则</th>
    </tr>
    <tr>
      <td class="td">T<sub>100</sub></td>
      <td class="td">1配领值=1元人民币</td>
    </tr>
    <tr>
      <td class="td">T<sub>70</sub></td>
      <td class="td">1配领值=0.7元人民币</td>
    </tr>
    <tr>
      <td class="td">T<sub>50</sub></td>
      <td class="td">1配领值=0.5元人民币</td>
    </tr>
  </table>
</div>