
<style type="text/css">

	.ticBorder .qr-code-invitation {
		position: initial;
		margin-top:5%;
	}

	.ticBorder .qr-code-invitation td.black {
		/*border-color: #d7d0b8;*/
	}

	.ticBorder .qr-code-invitation td.white {
		border-color: transparent;
	}

	.ticBorder {
		width: 80%;
		margin: 0 auto;
		text-align: center;
		padding-top:35%;
		color: #fff;
		font-weight: bolder;
		font-size: 20px;
	}

</style>

<div class="lightCont">
	<div class="ticBorder">
		<p>扫描二维码参加一盏明灯</p>
		<div class="qr-code-invitation">
			<%= raw @qrcode.as_html %></br>
		</div>
	</div>
</div>
