<%= title '健康评估' %>
<!-- <div id="loadingToast" style="display: none;">
    <div class="weui-mask_transparent"></div>
    <div class="weui-toast">
        <i class="weui-loading weui-icon_toast"></i>
        <p class="weui-toast__content">数据加载中</p>
    </div>
</div>

<div id="toast" style="display: none;">
    <div class="weui-mask_transparent"></div>
    <div class="weui-toast">
        <i class="weui-icon-success-no-circle weui-icon_toast"></i>
        <p class="weui-toast__content">已完成</p>
    </div>
</div> -->

<body onload="load()" class="body">
		<script type="text/javascript">
			initBaseFontSize();
		</script>
		<div id="title">
			<table cellpadding="0" cellspacing="0">
				<tr>
					<h1 class="weui-cells__title">糖尿病风险评估工具</h1>
				</tr>
			</table>
		</div>
      <div id="p1">
			<script>updatePageHeight("p1",true);</script>

			<table cellpadding="0" cellspacing="0" id="p1Tab" class="border div">

				<tr>
					<td class="weui-check__label">
						<div class="weui-cell">
							<div class="weui-title">性别</div>
							<div id="sex" class="weui-cells__title">男</div>
						</div>
					</td>
					<td class="weui-check__label">
						<div class="weui-cell auto">
							<div id="btnMale"  onclick="onSexMaleClick()" class="weui-cells__title">男</div>
							<div id="btnFemale"  onclick="onSexFemaleClick()" class="weui-cells__title">女</div>
						</div>
					</td>
				</tr>

				<tr>
					<td class="weui-check__label">
						<div>
							<div class="weui-cells__title">年龄</div>
							<div id="ageTxt" class="weui-cells__title">55-59岁</div>
						</div>
					</td>
					<td class="gap"/>
					<td>
						<div id="agePanel" onclick="showSelect('age')" class="ui-select">
							<span>请选择您的年龄</span><l>V</l>
							<div id="age" class="select" style="display:none;">
								<div class="option" value="0" onclick="onAgeChange(this, event)">20-24岁</div>
								<div class="option" value="4" onclick="onAgeChange(this, event)">25-34岁</div>
								<div class="option" value="8" onclick="onAgeChange(this, event)">35-39岁</div>
								<div class="option" value="11" onclick="onAgeChange(this, event)">40-44岁</div>
								<div class="option" value="12" onclick="onAgeChange(this, event)">45-49岁</div>
								<div class="option" value="13" onclick="onAgeChange(this, event)">50-54岁</div>
								<div class="op-selected" value="15" onclick="onAgeChange(this, event)">55-59岁</div>
								<div class="option" value="16" onclick="onAgeChange(this, event)">60-64岁</div>
								<div class="option" value="18" onclick="onAgeChange(this, event)">65-74岁</div>
							</div>
						</div>
					</td>
				</tr>

				<tr>
					<td>
						<div class="pg">
							<div class="pn">体重<l class="pi">(kg)</l></div>
							<div class="pv"><l id="weightTxt">60</l>kg</div>
						</div>
					</td>
					<td class="gap"/>
					<td>
						<div class="ui-slider">
							<div class="slider-value" id="weight-v">60</div>
							<input id="weight" oninput="onweight()" type="range" value="60" min="40" max="110" step="1"/>
						</div>
					</td>
				</tr>

				<tr>
					<td>
					    <div class="pg">
							<div class="pn">身高<l class="pi">(cm)</l></div>
							<div class="pv"> <l id="heightTxt">160</l>cm</div>
						</div>
					</td>
					<td class="gap"/>
					<td>
						<div class="ui-slider">
							<div class="slider-value" id="height-v">160</div>
							<input id="height" oninput="onheight()" type="range" value="160" min="139" max="208"/>
						</div>
					</td>
				</tr>

				<tr>
					<td>
						<div class="pg">
							<div class="pn">腰围<l class="pi">(cm)</l></div>
							<div class="pv"> <l id="girdleTxt">80</l>cm</div>
						</div>
					</td>
					<td class="gap"/>
					<td>
						<div class="ui-slider">
							<div class="slider-value" id="girdle-v">80</div>
							<input id="girdle" oninput="ongirdle()" type="range" value="80" min="65" max="100"/>
						</div>
					</td>
				</tr>

				<tr>
					<td>
						<div class="pg">
							<div class="pn">收缩压<l class="pi">(mmHg)</l></div>
							<div class="pv"> <l id="pressureTxt">135</l>mmHg</div>
						</div>
					</td>
					<td class="gap"/>
					<td>
						<div class="ui-slider">
							<div class="slider-value" id="pressure-v">135</div>
							<input id="pressure" oninput="onpressure()" type="range" value="135" min="100" max="180"/>
						</div>
					</td>
				</tr>

				<tr>
					<td style="border-bottom:none">
						<div class="pg" style="margin-bottom:0px">
							<div class="pn">糖尿病家族史</div>
							<div class="pi">包含父母子女兄妹</div>
							<div class="pv" id="hist">无</label>
						</div>
					</td>
					<td class="gap" style="border-bottom:none"/>
					<td style="border-bottom:none">
						<div style="display:table;width:100%">
							<div id="btnYes" class="btn" onclick="onHistYesClick()" />有</div>
							<div class="btn-gap"></div>
							<div id="btnNo" class="btn btn-clicked" onclick="onHistNoClick()" />无</div>
						</div>
					</td>
				</tr>

				<tr>
					<td colspan="3" style="border:none">
						<div onclick="cal()" class="weui-btn weui-btn_primary"/>开始计算</div>
					</td>
				</tr>

			</table>
    </div>

		<div id="p2">
			<script>updatePageHeight("p2",false);</script>
			<div id="top" class="half">
				<div class="mid">
          <div id="loadingToast">
              <div class="weui-mask_transparent"></div>
              <div class="weui-toast">
                  <i class="weui-loading weui-icon_toast"></i>
                  <p class="weui-toast__content">正在计算</p>
              </div>
          </div>
				</div>
			</div>
		</div>

		<div id="p3">
			<script>updatePageHeight("p3", false);</script>
			<div class="resP" id="resP">
				<div class="resT">糖尿病风险评估结果</div>
				<div class="resBorder1">
					<div class="resBorder2">
						<div class="resBorder3">
							<canvas width="20px" height="20px"id="scoreCanv"></canvas>
							<div class="">
								<div class="resT">评分</div>
								<div class="resT" id="score">17</div>
								<div class="resT" id="risk">低风险</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<table cellpadding="0" cellspacing="0" id="resTab">

				<tr>
					<td>
						<div class="rpg" style="margin:0 0.8rem 0.8rem 0">
							<div class="rpv">计算结果</div>
						</div>
					</td>
					<td>
						<div class="res" style="margin:0 0 0.8rem 0.6rem;">
							您此次评分结果为<l id="score2">17</l>分
						</div>
					</td>
				</tr>

				<tr>
					<td>
						<div class="rpg" style="margin:0.8rem 0.8rem 0 0">
							<div class="rpv">我们建议您</div>
						</div>
					</td>
					<td>
						<div class="res" style="margin:1 0 0 1">
							<div id="risk2">您目前得糖尿病的风险不高，还请继续保持健康的生活方式，祝您健康。</div>
							<div id="risk3" style="display:none">您属于糖尿病高危人群，请尽早就诊，进行口服葡萄糖耐量试验检查。</div>
						</div>
					</td>
				</tr>

				<tr>
					<td colspan="3" style="border:none">
						<div class="btn btn-main" onclick="reCal()">重新计算</div>
					</td>
				</tr>

			</table>
		</div>
	</body>
</html>
