table.hovertable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-collapse: collapse;
	text-align: center;
	width: 100%;
}
table.hovertable th {
	background-color:white;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: white;
}
table.hovertable tr {
	background-color:white;
}
table.hovertable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: white;
}
.green{
	color: green;
}
.red{
	color: red;
}
