<div class="hid_tab">
  <ul>
    <% @second_category.each do |second_category| %>
        <% if second_category.try(:id) == 6 %>
            <li class="second_level"">
              <a href="http://a3.rabbitpre.com/m/vEnrqUvUW?lc=2&sui=IoRROBn8&from=singlemessage&isappinstalled=0#from=share"><%= second_category.try(:name) %></a>
            </li>
        <% elsif second_category.try(:id) == 8 %>
            <li class="second_level"">
            <a href="http://a3.rabbitpre.com/m/uUf62bUv8?lc=2&sui=IoRROBn8&from=singlemessage&isappinstalled=0#from=share"><%= second_category.try(:name) %></a>
            </li>
        <% else %>
            <li class="second_level" data-id="<%= second_category.try(:id) %>"><%= second_category.try(:name) %></li>
        <% end %>
    <% end %>
  </ul>
</div>

<script type="text/javascript">
    $(function () {
        $(".second_level").on('click', function () {
            $.get("/mall/products/classified?id=" + $(this).data("id"), function (data) {
                $('#product_index').html(data)
            })
        });

        $(".hid_tab li").each(function (index, el) {
            $(this).click(function () {
                $(this).addClass('borbot').siblings().removeClass('borbot');
            })
        })
    })
</script>
