<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <title>御易健规则介绍</title>
    <style>
    h2{
      text-align: center;
      margin-bottom: 20px;
    }
    p{
      font-size:16px;
      line-height: 25px;
      text-indent:2em;
    }
    /*div{
      text-align: center;
    }*/

    ul li,table{
        font-size:15px;
        line-height: 25px;

    }
    table{
        border-collapse:collapse;

    }
        </style>
  </head>
  <body>


<body  style="margin: 0 auto; padding: 10px 100px; ">
<div  style=" padding: 10px 50px; ">
    <div style="text-align: center;color:red;font-size:44px">御易健</div>
    <h1 style="text-align: center;margin-bottom: 20px;color:red;font-size:44px">ENJOY LIFE</h1>
    <div style="font-size:20px;text-align: center;margin-bottom: 20px">管理健康.创造财富  尊享生命.享受生活 </div>
    <div style="font-size:20px;text-align: center;margin-bottom: 20px">健康领域“新玩法”———打造消费者分利模式 </div>
    <div style="font-size:20px;text-align: center;margin-bottom: 20px"><%= image_tag "intro.jpg" %></div>

    <h2>御易健规则介绍</h2>
    <div>一、关于御易健</div>
    <p>“御易健”是御邦医通基于中国特色1.2.6动态慢病健康管理新医学模式，旨在实现“管理健康、创造财富”创新分利新型运营规则构建的线上线下共享服务平台，包括“御易健”网上商城、客户消费分利模块、客户健康教育模块、健康管理服务模块等。</p>
    <div>二、关于御易健会员</div>
    <p>按照御邦医通御易健入会规则消费，即可成为会员，同时拥有御易健个人账户，并按照规则获得相应的分利。</p>
    <p style="font-size: 14px">备注：消费包括但不限于----1.御邦医通健康教育；2.御邦医通家庭医生签约服务；3.御
      邦医通家庭中医签约服务；4.御邦医通奉亲俱乐部会员；5.御邦医通体系内医疗食品、保健品、养生饮品、“龙氏脊筑”服务；6.御邦医通临床深度营养强化干预方案等。
    </p>
    <div>三、御易健规则分类</div>
    <p>1、管理健康——YBJ 会员（易积分）：加入御易健会员，获得对应易积分（御易健
    ——御邦医通慢病健康管理相应产品/服务+易积分）
    </p>
    <p>2、管理健康——YBZ 会员（数字社区）：加入御易健会员，获得（①中数信安数字社区综合服务平台合伙人股权资格+②御  邦医通社区慢病健康管理中心合伙人股权资格+③易积分+御邦医通慢病健康管理相应产品/服务)
    </p>
    <h2>规则一 ：管理健康——YBJ会员（易积分）</h2>

    <!-- <div style="text-align: center">管理健康——YBJ会员（易积分）</div> -->
    <p>加入御易健会员，获得对应易积分（御易健----御邦医通慢病健康管理相应产品/服务+易积分） </p>

    <div>一、御易健“易积分”介绍</div>
    <p>易积分是御易健会员分利的载体和凭证，消费者可以通过消费御邦医通的产品、
      服务成为御易健会员，然后拥有御易健账户，并按照规则获得对应的易积分包。易积分可用于购买御易健网上商城的产品、服务、兑换现金或兑换其他御易健平台提供的投资机会。
    </p>
    <div>二、御易健“易积分”赠送规则</div>
    <p>2．1 用户购买御易健商城产品及服务（不设最低消费）：按用户实际现金消费的120%返还积分（例：甲用户消费10000元人 民币，则返还12000个易积分）。
    </p>
    <p>2．2会员链接会员注册奖励获得：用户邀请好友成功注册御易健会员，送给用户6个易积分，被邀请人获得3个易积分。
    </p>
    <p>2.3 会员用户链接会员的消费奖励规则：会员用户会获得直接邀请的会员每次
    现金消费的20%作为奖励积分。

    </p>
    <div>三、御易健“易积分”价值</div>
        <p>3.1“易积分”人民币兑换规则：
    </p>
    <p>“易积分”可以兑换人民币（1积分=0.5元人民币），积分到账6个月后可以兑换，兑换最低额为400积分，提交兑换申请后，三个工作日内汇入指定账户（支付宝、银行卡，需提交相关账户信息）注：提现需收取提现总金额的5%手续费。</p>
    <p>3.2“易积分”产品及服务购买规则
    </p>
    <p>1个易积分=1元人民币的购买力，每笔积分入账后15天后即可激活使用。</p>
    <p>3.3“易积分”增值规则
    </p>
    <p>购买产品或服务赠送的易积分为可增值积分，到达指定时间未消费或提现的部
    分将实现自动增值，规则如下：
    </p>

    <table border="1" style="text-align: center">
        <thead>
        <tr>
            <th>时间</th>
            <th>6个月</th>
            <th>1年</th>
            <th>2年</th>
            <th>3年</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>增值赠送比例</td>
            <td>5%</td>
            <td>15%</td>
            <td>20%</td>
            <td>60%</td>
        </tr>
        <tr>
            <td colspan="5" style="text-align: left;"><u>备注：1.赠送时间为各时间段节点后的一日内；2.积分满三年即清零（三年后消费日起45天内完成）；
                3.增值赠送基数仅以购买产品或服务的现金消费金额折算，其余赠送积分不参与该积分自动增值活动；
                4.如购买产品赠送的可增值积分被使用，则按剩余额计算。</u></td>

        </tr>
        </tbody>
    </table>

<h2>规则二：管理健康——YBZ会员（数字社区）</h2>
<p>加入御易健会员，获得 (御易健----①中数信安数字社区综合服务平台合伙人股权资格+②御
邦医通社区慢病健康管理中心合伙人股权资格+③易积分+御邦医通慢病健康管理产品/服务)
</p>

<div>一、关于中数信安数字社区综合服务平台概述</div>
    <p>数字社区综合服务平台是全球首家集成基本公共服务、社会化服务、生活化服务功能于一体的一个开放的、自由人联合的共建共享、共商共和、共用共产的，交互式便民综合服务平台。
</p>
<div>二、关于御邦医通社区慢病健康管理服务中心概述</div>
    <p>2017年4月9日，中数信安联盟与有庆御通（中国）商业体系内北京有庆御
通医疗投资有限公司签订战略合作协议，并授权“有庆体系”以御邦医通商业模式为专业支撑，成立中数信安联盟健康管理服务专业委员会。

</p>
<p>
  御邦医通借助数字经济、互联网、物联网、大数据的功能，配合、协助、支持中数信安联盟数字化综合服务平台 17 万个社区，外挂御邦医通社区慢病健康管理服务中心总规划设计。 更好的解决慢性病给老百姓带来的“因病返贫、因病致贫” 的灾难，助力政府“全面实现全民健康”以及落实国家青年“双创”工作。
</p>
<div>三、YBZ 御易健会员消费赠送规则：</div>
<p></p>
    <table border="1" style="text-align: center">
        <thead>
            <tr>
                <th>一次性消费额度（元）</th>
                <th>YBZ会员包</th>
                <th>数字社区综合服务平台合伙人股权资格（10000元／个）</th>
                <th>御邦医通慢病健康管理服务中心合伙人股权资格（5000元／个）</th>
                <th>赠送易积分（按实际消费额折算）</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>25000</td>
                <td>A</td>
                <td>1</td>
                <td>-</td>
                <td rowspan="2">40%</td>
            </tr>
            <tr>
                <td>35000</td>
                <td>B</td>
                <td>1</td>
                <td>1</td>
            </tr>
        </tbody>
    </table>
    <p style="font-size: 14px">备注：赠送易积分按用户实际现金消费的 40%返还积分（例：甲用户消费 25000 元人民币，则返还10000个易积分）</p>
    <div>四、YBZ 御易健会员链接奖励规则：</div>
    <p>4.1&nbsp;用户自注册之日起，每个月（按自然月结算）销售5个以内（含5个）YBZ 会员包，按邀请的YBZ会员消费的现金金额的10%数量的易积分，赠送给邀请人。
    </p>
    <p>
    4.2&nbsp;用户自注册之日起，每个月（按自然月结算）销售6个以上（含6个）YBZ
会员包，按邀请的YBZ会员消费的现金金额的20%数量的易积分，赠送给邀请人。
    </p>
    <div>五、YBZ 御易健会员消费保障机制</div>
    <p>5.1&nbsp;易积分按照“易积分”的兑换规则执行（参照P4—P5YBJ御易健“易积分”价值规则）
    </p>
    <p>5.2&nbsp;关于合伙人股权资格 </p>
    <p>在不给双方造成不利影响的情况下自愿退出，按一定价格由御邦医通指定公司
    回购或御邦医通协助下转让给其他合伙人具体标准如下：
    </p>
    <table border="1" style="text-align: center;">
        <thead style="text-align: center;">
            <tr>
                <th>持有时间</th>
                <th>套餐（YBZ会员包）</th>
                <th>回购标准</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>6个月</td>
                <td>A</td>
                <td>10000元</td>
            </tr>
             <tr>
                <td>1年</td>
                <td>A</td>
                <td>15000元</td>
            </tr>
             <tr>
                <td>6个月</td>
                <td>B</td>
                <td>15000元</td>
            </tr>
             <tr>
                <td>1年</td>
                <td>B</td>
                <td>20000元</td>
            </tr>
        </tbody>
    </table>

<div>附：御易健平台的使用规则 </div>
    <p>御易健平台帐号的注册资料包括但不限于用户的微信帐号名称、头像、密码、注册或更新御易健帐号时输入的所有信息以及用户使用御易健各单项服务时输入的名称、头像等所有信息。</p>

    <p>本说明最终解释权归御邦医通所有，御邦医通御易健会逐步完善奖励机制，保证会员获得更多的奖励收益。</p>



</div>

</body></html>




</html>
