<div class='mobile_box'>
  <div class="page-title">
    <h2 class="text-cen">
      <span><%= @title %></span>
    </h2>
  </div>
  <div class="wraper pt50 graybg">
    <% if @orders.empty? %>
      <div class="empty-content">
        暂无<%= @title %>o(╯□╰)o
      </div>
    <% else %>
    <% end %>
  </div>
</div>
