
<div class="file-block">
	<div class="file-p">
		<a href="https://ybhm.ybyt.cc/uploads/file_asset/location/8/2__1_________.pdf" download>御邦医通创客说明书(点击下载)</a>
		<a href="https://ybhm.ybyt.cc/uploads/file_asset/location/9/2__2__________.pdf" download="御邦医通创客创业协议.pdf">御邦医通创客创业协议(点击下载)</a>
	</div>
</div>

<div class="alert-block" id="alert-block">
	<%= image_tag "live_weixin.png", class:'alertImage' %>
</div>

<script type="text/javascript">
	window.onload = function () {
		//判断浏览器是否是微信浏览器
		var ua = navigator.userAgent.toLowerCase();  
		if(ua.match(/MicroMessenger/i)=="micromessenger") {  
			console.log("是");  
		  	document.getElementById("alert-block").style.display = "block"; 
		} else {  
			console.log("不是");
		  	document.getElementById("alert-block").style.display = "none"; 
		}  
		
	}
</script>