
<div class="file-block">
	<div class="file-p">
		<a href="http://ybhm.ybyt.cc/uploads/file_asset/location/5/1__1___________.pdf"  download="御易健消费共同体说明书.pdf">御易健消费共同体说明书(点击下载)</a>
		<a href="http://ybhm.ybyt.cc/uploads/file_asset/location/6/1__2____________.pdf" download="御易健消费共同体计划管理健康消费承诺书.pdf">御易健消费共同体计划管理健康消费承诺书(点击下载)</a>
		<a href="http://ybhm.ybyt.cc/uploads/file_asset/location/7/1_____________.pdf" download="御邦医通平行店合作协议.pdf">御邦医通平行店合作协议(点击下载)</a>
	</div>
</div>
<div class="alert-block" id="alert-block">
	<%= image_tag "live_weixin.png", class:'alertImage' %>
</div>

<script type="text/javascript">
	window.onload = function () {
		//判断浏览器是否是微信浏览器
		var ua = navigator.userAgent.toLowerCase();  
		if(ua.match(/MicroMessenger/i)=="micromessenger") {  
			console.log("是");  
		  	document.getElementById("alert-block").style.display = "block"; 
		} else {  
			console.log("不是");
		  	document.getElementById("alert-block").style.display = "none"; 
		}  
		
	}
</script>