<%= title '会员介绍' %>

<div class="home">
  <%= render 'shared/slide' %>

  <div class="weui-panel weui-panel_access">
    <div class="weui-panel__hd">会员俱乐部</div>
    <div class="weui-panel__bd">
      <% @club.each do |club| %>
      <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
          <div class="weui-media-box__hd">
            <%= image_tag(club.icon_url,size: "70x40") %>
          </div>
          <div class="weui-media-box__bd">
            <h4 class="weui-media-box__title"><%=club.name%></h4>
          </div>
      </a>
    </div>
  <% end %>
</div>
