
<style type="text/css">
	
	#content{
		height: 100%;
		width: 100%;
	}

	#content h2 {
		text-align: center;
		line-height: 3rem;
		font-size: 1.25rem;
		color: #5e5b5b;
	}

	.proImg{
		width: 94%;
		height: 20%;
		border: 1px solid black;
		margin-left: 3%;
	}

	.introduce{
		width: 94%;
		margin-left: 3%;
		margin-bottom: 3.5rem;
	}

	.introduce .itdPart{
		padding: 1rem 0;
		border-bottom: 2px dashed #fbabab;
	}

	.introduce .itdPart p{
		font-family: "微软雅黑"
		font-size:1rem;
		color: #fbabab;
		font-weight: bold;
	}

	.introduce .itdPart span{
		display: block;
		margin-top: 1rem;
	}

</style>


<div id="content">
	<h2>原生态山茶油</h2>
	<img class="proImg" />
	<div class="introduce">

		<div class="itdPart">
			<p>★山茶油的功效</p>
			<span>
				<b>改善血液循环</b>
				山茶油中含有多种功能性成分，长期使用具有明显预防心血管硬化、降血压、降血糖等功效，抑制各种疾病巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉巴拉
			</span>
			<span>
				<b>促进消化吸收</b>
				山茶油中含有多种功能性成分，长期使用具有明显预防心血管硬化、降血压、降血糖等功效，抑制各种疾病巴拉巴拉巴拉巴拉巴拉巴拉！
			</span>
			<span>
				<b>抗衰、护肤</b>
				山茶油中含有多种功能性成分，长期使用具有明显预防心血管硬化、降血压、降血糖等功效
			</span>
		</div>

		<div class="itdPart">
			<p>★主要成分</p>
			<span>
			维生素ABCDEFG
			</span>
		</div>

		<div class="itdPart">
			<p>★使用方法</p>
			<span>
			吃！生吃炒菜蒸煮烧烤！吃吃吃！
			</span>
		</div>

		<div class="itdPart">
			<p>★适用人群</p>
			<span>
			谁都能吃！吃吧！！！
			</span>
		</div>

	</div>


</div>