<div class='mobile_box'>
  <div class="page-title">
    <h2 class="text-cen">
      <span>收货地址管理</span>
    </h2>
  </div>
  <div class="wraper pt50">
    <div class="list-address">
      <div class="empty-address">
        <p>暂无收货地址,请添加地址</p>
      </div>
    </div>
    <div class="address-btn add-address">
      <a href="<%= new_mall_address_path %>">新增收货地址</a>
    </div>
  </div>
</div>
