.pt50 {
  padding-top: 50px;
}

.pt10 {
  padding-top: 10px;
}

.fr {
  float: right;
}

.hide {
  display: none;
}

.notice {
  padding: 8px 15px;
  background: #fff;
  color: #ad0e11;
  line-height: 1.4;
}

.gray84 {
  color: #848484;
}

.mt10 {
  margin-top: 10px;
}

.clearfix {
  &:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
    line-height: 0;
  }
}

.mr15 {
  margin-right: 15px;
}

.graybg {
  background-color: #f8f8f8;
}

.mr20 {
  margin-right: 20px;
}

.flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  .flex-item5 {
    -webkit-box-flex: 5;
    -ms-box-flex: 5;
    box-flex: 5;
    -ms-flex: 5;
    -moz-flex: 5;
    flex: 5;
  }
}

.empty-content {
  background-color: #fff;
  line-height: 40px;
  text-align: center;
  padding: 40px 0;
}

.notice-text {
  color: #ad0e11;
}

.no-pb {
  padding-bottom: 0;
}

.text-center {
  text-align: center;
}

.btn-normal {
  display: inline-block;
  padding: 0 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  line-height: 26px;
  height: 26px;
  margin: 0 10px 0 0;
  font-size: 13px;
  vertical-align: middle;
  color: #000;
  text-decoration: none;
}

.weui-agree {
  .checkbox {
    -webkit-appearance: none;
    appearance: none;
    outline: 0;
    font-size: 0;
    border: 1px solid #D1D1D1;
    background-color: #FFFFFF;
    border-radius: 3px;
    width: 13px;
    height: 13px;
    position: relative;
    vertical-align: 0;
    top: 2px;
  }
}
