.pt50 {
  padding-top: 50px;
}

.fr {
  float: right;
}

.hide {
  display: none;
}

.notice {
  padding: 8px 15px;
  background: #fff;
  color: #ad0e11;
  line-height: 1.4;
}

.gray84 {
  color: #848484;
}

.mt10 {
  margin-top: 10px;
}

.clearfix {
  &:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
    line-height: 0;
  }
}

.mr15 {
  margin-right: 15px;
}

.graybg {
  background-color: #f8f8f8;
}

.mr20 {
  margin-right: 20px;
}

.flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  .flex-item5 {
    -webkit-box-flex: 5;
    -ms-box-flex: 5;
    box-flex: 5;
    -ms-flex: 5;
    -moz-flex: 5;
    flex: 5;
  }
}

.empty-content {
  background-color: #fff;
  line-height: 40px;
  text-align: center;
  padding: 40px 0;
}

.notice-text {
  color: #ad0e11;
}

.no-pb {
  padding-bottom: 0;
}
