.luck{
  background: image-url("turnplate-bg.png");
  background-size:100% 100%;
  // background: black;
}

.weixin-serach-animal {
  transform-origin: 0px 0px 0px;
  opacity: 1;
  transform: scale(1, 1);
}

.pro-area {
  background: #f8f8f8;
  padding: 20px 0 0;
  .pro-tit {
    h2 {
      padding: 0 0 20px 0;
      text-align: center;
      color: #333;
      font-size: 17px;
      position: relative;
      &:after {
        content: "";
        width: 30px;
        height: 2px;
        background: #c1272d;
        position: absolute;
        left: 50%;
        margin-left: -15px;
        bottom: 10px;
        text-align: center;
      }
    }
  }
  .pro-list {
    padding: 0 0 0 10px;
    margin-left: 13px;
    h5 {
      font-size: 15px;
      color: #333;
      padding: 6px 0 3px;
      font-weight: 700;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      background: #fff;
      margin-top: -10px;
    }
    .sub-title {
      font-size: 13px;
      color: #999;
      line-height: 19px;
      height: 38px;
      overflow: hidden;
      background: #fff;
    }
    .tag {
      font-size: 12px;
      color: #ad0e11;
    }
    .item-price {
      position: relative;
      background: #fff;
      em {
        font-size: 15px;
        color: #ad0e11;
        font-style: normal;
      }
      del {
        font-size: 15px;
        color: #999;
        margin: 0 5px;
        text-decoration: line-through;
        position: relative;
      }
      .pre-addcar {
        position: absolute;
        right: 0;
        top: -2px;
        background: image-url("addbag.png") center /19px auto;
        width: 19px;
        height: 23px;
        display: inline-block;
      }
    }
    ul {
      padding: 5px 0 50px;
      overflow: hidden;
      list-style: none;
      li {
        list-style: none;
        width: 45%;
        background: #eee;
        margin: 0 10px 15px 0;
        box-sizing: border-box;
        float: left;
        position: relative;
        a {
          color: #000;
          text-decoration: none;
        }
        img {
          width: 100%;
          box-sizing: border-box;
          height: 173px;
        }
      }
    }
  }
}
.botest{
  margin-bottom: 100px;
}

.font-left{
  text-align: left;
  font-family: Microsoft YaHei;
}

.alert{
  background: image-url("choujiang.jpg") center;
  background-size: 100%;
}

/*----------------医通平行店首页样式------------------*/

  .clearfix:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
  }

  .clearfix {
    zoom: 1;
  }

  .pro-area .pro-list {
    padding: 0;
    margin: 0;
  }

  .pro-area .pro-list ul {
    width: 95%;
    margin: 0 auto;
    padding-bottom: 0;
  }

  .pro-area .pro-list ul li {
    margin: 0 2.5% 15px 2.5%;
  }

  .pro-area .more{
    padding-bottom: 70px;
    text-align: center;
    
  }

  .alert {
    display: none;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    height: 300px;
    border: 1px solid #000;

  }

  .alert p {
    position: absolute;
    right: 3%;
    font-weight: bolder;
  }

  .alert a {
    display: inline-block;
    padding-top: 25px;
    width: 100%;
    height: 92%;
  }

  .pro_tab {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: #eee;
      .fst_tab {
        white-space:nowrap;
        overflow-x:auto;
        li {
            display: inline-block;
            text-align: center;
            font-size: 16px;
            font-weight: bolder;
            color: #ad0e11;
            background: #eee;
            padding: 3px 8px;
        }      
      }      
  }
  

  .active {
    color: #fff !important;
    background: #ad0e11 !important;
  }

  .borbot {
    color: #ad0e11 !important;
    border-bottom: 2px solid #ad0e11 !important;
  }

  .hid_tab ul {
    display: flex;
    li {
        flex: 1;
        text-align: center;
        font-size: 14px;
        font-weight: bolder;
        color: #666;
        padding: 5px 0;
        margin-top: 5px;
        border-bottom: 2px solid transparent;
    }
  }



/*--------------商城分类页面-------------------*/
    .silder {
        width: 18%;
        height: 92%;
        background: #eaeaea;
        padding-bottom: 58px;
        border-right: 1px solid #ccc;
        position: fixed;
        li {
            padding: 10px 0;
            border-bottom: 1px solid #ccc;
            text-align: center;
        }
        a {
            color: #666;
            font-size: 14px;
        }
    }

    .pro {
        width: 82%;
        height: 100%;
        margin-left: 18%;
        .pro-sm {
            width: 100%;
            display:none;
            padding-bottom: 58px;
            .chanpin {
                width: 100%;
                li {
                    width: 49%;
                    float: left;
                    margin-bottom: 25px;
                    height: 250px;
                    a {
                        color: #666;
                    }
                    span {
                        font-size: 14px;
                        display: block;
                        width: 90%;
                        margin: 0 auto;
                        margin-top: 10px;
                        text-align: center;                        
                    }
                    p {
                        display: block;
                        width: 90%;
                        margin: 0 auto;
                        margin-top: 10px;
                        text-align: center;
                        color: red;
                    }                   
                }
                .images {
                    width: 90%;
                    margin: 0 auto;
                    margin-top: 10px;
                    height: 150px;
                    img {
                        width: 100%;
                        height: 100%;
                    }

                }
            }
        }
    }

    #content {
        display: block;
    }
    .activing {
        background: #fff;
        color: red;
        z-index: 999;
    }


.classifyLevel {
  ul {
    width:94%;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 50px;
    li {
      .levelTitle {
        padding:5px;
        width:30%;
        background: -webkit-linear-gradient(left, #ad0e11 , #f8b372); /* Safari 5.1 - 6.0 */
        background: -o-linear-gradient(right, #ad0e11,#f8b372 ); /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient(right, #ad0e11, #f8b372); /* Firefox 3.6 - 15 */
        background: linear-gradient(to right, #ad0e11 , #f8b372); /* 标准的语法（必须放在最后） */
        color: #fff;
        text-align: center;
        border-top-right-radius:20px; 
        border-bottom-right-radius:20px; 
      }
      .levelList {
        width:100%;
        margin-top: 5px;
        display: flex;
        flex-wrap:wrap;
        li {
          width:33%;
          padding-bottom: 5px;
          &:nth-child(2n+1) {
            background: #eee;
          }
          img {
            width:76%;
            margin-left: 12%;
          }
          .textCenter {
            font-size: 12px;
            text-align: center;
            color: #333;
          }
        }
      }
    }
  }
}
