<div class='bind_phone'>
  <div class="page-title">
    <h2 class="text-cen">
      <span>手机号验证</span>
      <a href="##" class="arrow-left"></a>
    </h2>
  </div>
  <div class="wraper pt50">
    <div class="login_control">
      <div>手机号</div>
      <div class="login_tab">
        <div class="login_content changearea">+86</div>
        <div class="login_space"></div>
        <div class="login_content login_phone">
          <input placeholder="请输入您的手机号" id="txtCustomerID" type="tel">
        </div>
      </div>
    </div>

    <div class="login_control">
      <div class="login_label">验证码</div>
      <div class="login_content">
        <input id="txtValidatedCode" placeholder="短信中6位数字" type="text">
        <div id="smsgetCode" class="get_code fr">发送验证码</div>
        <div id="resetText" class="get_code hide fr">重新发送(<span id="smsTimeText"></span>)</div>
      </div>
    </div>
    <div class="btnPanel">
      <a class="btn_login" id="txtlogin">手机号验证</a>
    </div>
  </div>
</div>

<div id="toast">
  <div class="weui-mask_transparent"></div>
  <div class="weui-toast">
    <p class="weui-toast__content">已完成</p>
  </div>
</div>
