$yyjBackground: #f8f8f8; //页面主背景色
$yyjComponentBackground: #eee; //组件背景色
$yyjPrimary: #ad0e11; //御易健主色
$yyjImportant: #222; //御易健重要文字颜色
$yyjDisable: #999; //禁用选择  组件颜色
$yyjListItemBorder: #cba3d2;
$yyjListPlanBorder: #d2d2a7;