body, html {
    height:100%;
    -webkit-tap-highlight-color:transparent
}
body {
    font-family:-apple-system-font, Helvetica Neue, Helvetica, sans-serif
}
ul {
    list-style:none
}
.page, body {
    background-color:#eee;
}
.link {
    color:#1aad19
}
.container {
    overflow:hidden
}
.container, .page {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0
}
.page {
    overflow-y:auto;
    -webkit-overflow-scrolling:touch;
    opacity:0;
    z-index:1
}
.page.js_show {
    opacity:1
}
.page__hd {
    padding:40px
}
.page__bd_spacing {
    padding:0 15px
}
.page__ft {
    padding-top:40px;
    padding-bottom:10px;
    text-align:center
}
.page__ft img {
    height:19px
}
.page__ft.j_bottom {
    position:absolute;
    bottom:0;
    left:0;
    right:0
}
.page__title {
    text-align:left;
    font-size:20px;
    font-weight:400
}
.page__desc {
    margin-top:5px;
    color:#888;
    text-align:left;
    font-size:14px
}





//御易健样式整理

//input样式
.yyj_input {
    -webkit-appearance: none;
    height: 20px;
    width: 80%;
    background-color: #fff;
    border: 1px solid #ad0e11;
    border-radius: 5px;
    line-height: 20px;
    padding: 5px 10px;
}

.yyj_border {
    border: 1px solid #ad0e11;
    border-radius: 5px;
}

//长条形提交按钮
.yyj_submit {
    -webkit-appearance: none;
    display: block;
    margin-top: 20px;
    border:0;
    border-radius: 5px;
    color: #fff;
    width: 90%;
    height: 40px;
    background:#ad0e11!important;
}


//统一实心填充按钮或块背景颜色
.yyj_btn {
    background: #ad0e11!important;
}

//统一带边框块基本样式
.yyj_div {
    width: 100%;
    text-align: center;
    display: block;
    color: #ad0e11;
    border:1px solid #ad0e11;
    margin-bottom: 10px;
}

//统一字号
.yyj_text {
    font-size: 16px;
}

//统一标题样式
.yyj_title {
    font-weight: normal;
    color:#ad0e11;
    text-align: center;
    font-size: 20px!important;
}
.yyj-title {
  padding: 0px 10px;
  margin: 2% 1% 2%;
}
.yyj-title-h4 {
  display: flex;
  margin: 0 1%;
  color: #ad0e11;
}
.yyj-title-h4 a {
  flex: 1;
  text-align: right;
  font-size: 12px;
  text-decoration: none;
  out-line: none;
  color: #222;
}

.yyj-title-h4 a:active {
  color: #222;
}

//统一iOS自带样式提交小按钮
.yyj_commit {
    -webkit-appearance: none;
    background: #ad0e11!important;
    border:0;
}

//统一深绿色字颜色
.yyj_color {
    color: #ad0e11!important;
}

//单选框样式填充（部分使用）
.yyj_check {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid #ad0e11!important;
    border-radius: 50%;
    background: #fff;
}

//所需边框下划线
.yyj_botline {
    border-bottom: 1px solid #ad0e11!important;
}

//input背景设置（部分使用）
.yyj_inputbac {
    background: transparent!important;
}

//清除浮动
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
}

/*-----------------左图右文列表-------------------------*/
.yyj-list-item {
  background: #e6e8f8;
  /*border-top: 1px solid #eee;*/
  padding: 0px 10px;
  margin: 0% 1% 2%;
  border-radius: 5px;
}

.yyj-list-item ul {
  border-top: 1px solid #cba3d2;
}

.yyj-list-item ul li {
  display: flex;
  border-bottom: 1px solid #cba3d2;
  padding-top: 6px;
}

.yyj-list-item ul li .slLeft, .yyj-list-item ul li .slRight {
  display: inline-block;
}

.yyj-list-item ul li .slLeft {
  width: 30%;
}

.yyj-list-item ul li .slLeft img {
  width: 100%;
}

.yyj-list-item ul li .slRight {
  width: 70%;
}

.yyj-list-item ul li .slRight h5 {

  margin: 2% 0 0 4%;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.yyj-list-item ul li .slRight span {
  display: inline-block;
  width: 98%;
  font-size: 12px;
  margin: 4% 0 0 4%;
  color: #666;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  img {
    position: relative;
    top: 4px;
  }
}


.yyj-list-item a {
  text-decoration: none;
  out-line: none;
  color: #222;
}

.yyj-list-item a:active {
  color: #222;
}