// Place all the styles related to the Wechat::ConsumerEntrustments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  .containers{
    padding:0 5% 5% 5%;
  }
  .title {
    text-align: center;
    margin: 5% 0;
  }
  .consumer-entrustment p {
    font-size: 14px;
    color: #444;
    line-height: 28px;
    text-indent:24px;
  }
  .textRight{
    text-align: right;
    margin-right: 20%;
  }
  .agreeCheckbox{
    margin-bottom: 65px;
    font-size: 14px;
  }
  .argee {
    width: 100%;
    background-color: #ad0e11;
    position: fixed;
    bottom: 69px;
    left: 0;
  }
  .argee input{
    color: #fff;
    border: none;
    display: block;
    text-align: center;
    width: 100%;
    padding: 8px;
    background: none;
  }