* {
  margin: 0;
  padding: 0;
  // background: #fff;
}

//-----------------平行店详情页--------------------
.shopDatas {
  display: flex;
  background-color: #f8f8f8;
  margin:0% 0% 2%;
  padding: 5% 2%;
  .slLeft,.slRight {
    display: inline-block;
  }
  .slLeft {
    width: 35%;
    padding-top:5px;
    img {
      width: 100%;
    }
  }
  .slRight {
    padding-left: 4%;
    padding-top:12px;
    flex: 1;
    p {
      font-size: 1.1rem;
    }
    span {
      display: block;
      font-size: 0.8rem;
      color: #666;
    }
  }
}
//-------------------平行配领页面列表------------------
.listShow {

  margin: 0 auto;
  /*border-top: 1px solid #ccc;*/
  padding: 0;
  /*margin-top: 20px;*/
  padding-bottom: 108px;
}

.listShow li {
  display: flex;
  height: 90px;
  padding: 0 15px;
  border-bottom: 1px solid #eee;
}

.listShow li .proLeft {
  width: 90px;
}

.listShow li .proLeft img {
  width: 80px;
  height: 80px;
  margin: 5px 0 0 5px;
}

.listShow li .proRight {
  flex: 1;
  padding-left: 5%;
}

.listShow li .proRight .proName {
  font-size: 18px;
  color: #474747;
  margin: 0;
  margin-top: 18px;
}

.listShow li .proRight .proInfo {
  margin: 0;
  margin-top: 10px;
  font-size: 14px;
  color: #888;
}


/***********************平行店的首页和平行店版页面************************/
.fontSizes {
  font-size: 0.8rem;
}
.topImage {
  width:100%;
}
.shopHeader {
    height:40px;
    display: flex;
    background: #ad0e11;
    input {
      flex:1;
      margin-left: 4%;
      height:26px;
      margin-top: 5px;
      padding-left: 3%;
      border:0;
      border:1px solid #fff;
      border-radius: 5px;
      --webkit-appearance: none;
    }
    a {
      display: inline-block;
      padding:0 2%;
      margin:0 4% 0 1%;
      height:26px;
      line-height: 26px;
      margin-top: 6px;
      border:0;
      color: #fff; 
      background: transparent;
      font-size: 14px;
    }
    a:active{
      color:#fff;
    }
}