// Place all the styles related to the wechat::plan controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	margin: 0;
	padding: 0;
}

.file-block {
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: image-url("link.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	top: 0;
	left: 0;
	.file-p {
		position: absolute;
		top: 40%;
		left: 7%;
		a {
		    display: block;
		    text-decoration: none;
		    font-size: 0.9rem;
		    width: 40%;
		    background: #a30b19;
		    color: #fff;
		    border-radius: 8px;
		    padding: 17px;
		    margin-top: 20px;
		}
	}
}

.alert-block {
	width: 100%;
	height: 100%;
	position: absolute;
	display: none;
	background: rgba(0, 0, 0, 0.7);
	z-index: 999;
	.alertImage {
		width: 70%;
		height: auto;
		margin: 30% auto;
    	display: block;
	}
}

@media screen and (min-width:640px) {
    .file-block {
		width: 100%;
		height: 100%;
		position: absolute;
		background-image: image-url("pclink.jpg");
		background-size: content;
		background-repeat: no-repeat;
		top: 0;
		left: 0;
		.file-p {
			position: relative;
			top: 57%;
			width: 100%;
			left: 0;
			a {
			    display: block;
			    text-decoration: none;
			    font-size: 0.9rem;
			    width: 40%;
			    background: #a30b19;
			    color: #fff;
			    border-radius: 8px;
			    padding: 1.9rem;
			    margin-top: 2rem;
			    margin-left: 7%;
			}
		}
	}
}

