@import "yyj_variables";

.weui-icon-warn-no-circle:before {
  content: "\EA0B";
}

.weui-icon_toast.weui-icon-warn-no-circle:before {
  color: #FFFFFF;
  font-size: 40px;
}

.weui-uploader {
  width: 100%;
}

.weui-tabbar__item.weui-bar__item_on .weui-tabbar__label {
  color: $yyjPrimary;
}

.weui-tabbar__item.weui-bar__item_on svg .weui-tabbar__label {
  fill: $yyjPrimary;
}

.weui-panel__hd{
  font-size: 18px;
  color: $yyjPrimary;
}
.weui-panel__bd p {
  font-size: 16px;
}
.weui-btn_primary {
  background-color: $yyjPrimary;
}
.weui-btn_primary:not(.weui-btn_disabled):active{
  color:rgba(255, 255, 255, 0.6);
  background-color:$yyjPrimary;
}