<%= title '御邦直播大厅' %>
<div class="home">
  <%= render 'shared/slide' %>
</div>
<div>
  <table style="text-align:center; margin-top: 20px;" width="100%">
    <tr>
      <td>
        <a href="http://www.yy.com/37518251/37518251">
  				<%= image_tag "ybyt04.png", size: "80x80" ,class: "aimg" %>
  			</a>
  			<p>御邦微讲堂</p>
      </td>

      <td>
        <a href="http://www.yy.com/37518251/37518251">
          <%= image_tag "ybyt04.png", size: "80x80" ,class: "aimg" %>
        </a>
        <p>御邦直播厅</p>
      </td>
    </tr>
  </table>
</div>
