<form action="<%= add_waiter_admin_parallel_shop_path %>" method="get">
    <input type="button" name="id" value="<%= shop %>" style="display:none">
    <label for="phone">输入营业员电话：</label>
    <input type="text" name="phone">
    <input type="submit" name="submit" value="提交">
</form>
