<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<body class="font-left">
    <div class="divtext">
        <h2>御邦医通之御易健“管理健康，创造财富”客户服务说明书</h2>
        <hr/>
        <h4>

        欢迎加入御易健----“管理健康，创造财富”服务体系<br/>
        本着“管理健康、创造财富”的理念，为您提供在管理好您健康的同时创造属于您的创新财富游戏----即享受御邦医通健康管理服务（包含不限于：御邦医通体系内医疗食品、保健品、养生饮品、“龙氏脊筑”服务、健康教育等）的同时，可自愿选择S货币玩法。<br/>
        您在参与御易健----“管理健康，创造财富”使用御邦医通健康管理服务活动时，需按照本说明执行。请您务必阅读并理解以下条款。

        </h4>
        <hr/>

        <h3>1.	总则：</h3>

        <h4>1.1.	关于御易健：</h4>
        <p>
            御邦医通为实现“管理健康、创造财富”“新玩法”，构建的线上线下共享服务平台，包括“御易健”网上商城、客户消费分利模块、客户健康教育模块、健康管理服务模块等。<br/>
        </p>

        <h4>1.2.	关于S货币：</h4>
        <p>
                S货币的来源：由马耳他、英国、澳大利亚、德国、土耳其五国金融持股专家们为首，打造的拥有比特币、维卡币、莱特币等一样的收益的虚拟币，为此创立了Coinspace。Coinspace是由瑞士银行支持下诞生的一所公司，将成立Coinspace Bank，是互联网结合MLM模式，面向全世界，有会员、支店、银行形式相结合，合法经营的公司。（详细介绍见：CoinSpace中国区官网：http://gglbinary.com）
        </p>

        <h4>1.3.	申请要求：</h4>
        <p>
            申请人须为中华人民共和国年满18周岁的合法公民，或持有有效身份证明的非本国人员。未满18周岁需由其法定监护人代为申请。<br/>
            申请人需按照申请相关账户的要求，填写对应信息，并提供身份证复印件。
         </p>

        <h4>1.4.	给付内容：</h4>
        <p>
            1.4.1按您完款金额为您提供对应同等价格的御邦医通健康管理服务（包含不限于御邦医通之御易健健康商城内的绿色食品、医疗食品、保健品、养生饮品、“龙氏脊筑”服务、健康教育等）。<br/>
        </p>
        <p>
            1.4.2为您赠送对应S货币礼包。
         </p>

        <h4>1.5.	保底保障：</h4>
        <p>
            1.5.1 自开户之日起3个月后，您手中的S货币可以在御邦医通之御易键健康商城兑换御邦医通健康管理服务，S货币对应市价按商城产品价格*0.9进行兑换。<br/>
         </p>
         <p>
            1.5.2 您手中的S货币包可分阶段、分标准进行整包回收。（以您开户时的S货币包价格为准）
            <table class="table">
                <thead>
                    <tr>
                        <td>时间</td>
                        <td>3个月</td>
                        <td>6个月</td>
                        <td>9个月</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>回收价格（开户价）</td>
                        <td>93%</td>
                        <td>97%</td>
                        <td>100%</td>
                    </tr>
                </tbody>
            </table>
         </p>

        <h3>2.	健康管理服务产品细则：</h3>

         <h4>2.1.	健康管理服务产品主要内容：</h4>
         <p>
            1.御邦医通健康教育；2.御邦医通家庭医生签约服务；3.御邦医通家庭中医签约服务；4.御邦医通奉亲俱乐部会员；5. 御邦医通体系内医疗食品、保健品、养生饮品、“龙氏脊筑”服务；6.御邦医通临床深度营养强化干预方案。（本期具体内容参见附则）
         </p>

         <h4>2.2.	健康数据提供：</h4>
         <p>
            接受御易健服务时，需登记您的部分个人信息，以及提供您的基础健康信息。为更好的为您提供服务，御邦医通将会持续、动态、主动跟进您的健康状况，并提供指导建议。
         </p>

         <h3>3.	S货币礼包细则：</h3>
         <p>
            因为御邦医通在打造“健康管理，创造财富”的理念，所以现阶段，御邦医通为您提供S货币开户和礼包的给付。
         </p>

         <h4>3.1.	S货币开户与操作：</h4>
         <p>
            在您购买御邦医通健康管理服务完款后（以银行收到相关款项为起始点），10-15个工作日为您开设S货币对应账户并按照御邦医通相关规则，为您S货币账户赠送给付对应的S货币包。如您想进行S货币兑付为人民币；或想购买其他S货币提供礼包或服务；或想关闭帐户等行为，需依照S货币官方规则进行。御邦医通仅承担御邦医通健康管理服务完款后S货币开户和赠送给付S货币包的服务。S货币在客户及给付后处置权完全归您所有，御邦医通不干涉、不承担后续您在您S货币账户上的操作服务及相关连带责任。
         </p>

         <h4>3.2.	本期S货币礼包标准：</h4>
         <p>
            注：S货币包的S货币给付周期为一年（自开户日起365天）。
         </p>

         <h3>4.	首期御邦医通健康管理服务与S货币礼包对应细则：</h3>
            <table class="table">
                <thead>
                    <tr>
                        <td>S货币包</td>
                        <td>人民币/元</td>
                        <td>首次获得S货币 (个)</td>
                        <td>日获得S货币 (个)</td>
                        <td>日获得周期</td>
                        <td>日获得S货币总数 (个)</td>
                        <td>总获得S货币 (个)</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>A包</td>
                        <td>1275</td>
                        <td>15</td>
                        <td>1</td>
                        <td>365</td>
                        <td>365</td>
                        <td>380</td>
                    </tr>
                    <tr>
                        <td>B包</td>
                        <td>2550</td>
                        <td>30</td>
                        <td>2.4</td>
                        <td>365</td>
                        <td>876</td>
                        <td>906</td>
                    </tr>
                    <tr>
                        <td>C包</td>
                        <td>5950</td>
                        <td>100</td>
                        <td>5.5</td>
                        <td>365</td>
                        <td>2007.5</td>
                        <td>2107.5</td>
                    </tr>
                    <tr>
                        <td>D包</td>
                        <td>12750</td>
                        <td>250</td>
                        <td>12</td>
                        <td>365</td>
                        <td>4380</td>
                        <td>4630</td>
                    </tr>
                </tbody>
            </table>
            <p>赠送规则如下：</p>
            <p>4.1 首期S货币礼包共计500份，其中：A包50份、B包300份、C包100份、D包50份。</p>
            <p>4.2 购买御邦医通健康管理套餐或单品总价格达到X元既赠送对应S货币包</p>
            <table class="table">
                <thead>
                    <tr>
                        <td>健康管理套餐区间 (人民币/元)</td>
                        <td>赠送S货币包</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1500 ≤ X ≤ 3000</td>
                        <td>A包</td>
                    </tr>
                    <tr>
                        <td>3000 ≤ X ≤ 4500</td>
                        <td>B包</td>
                    </tr>
                    <tr>
                        <td>4500 ≤ X ≤ 6000</td>
                        <td>A 包 + B 包</td>
                    </tr>
                    <tr>
                        <td>6000 ≤ X ≤ 7500</td>
                        <td>B 包 + B 包</td>
                    </tr>
                    <tr>
                        <td>7500 ≤ X ≤ 9000</td>
                        <td>A 包 + C 包</td>
                    </tr>
                    <tr>
                        <td>9000 ≤ X ≤ 10500</td>
                        <td>B 包 + C 包</td>
                    </tr>
                    <tr>
                        <td>10500 ≤ X ≤ 12000</td>
                        <td>B 包 x 4</td>
                    </tr>
                    <tr>
                        <td>12000 ≤ X ≤ 13500</td>
                        <td>B 包 x 2 + C包</td>
                    </tr>
                    <tr>
                        <td>13500 ≤ X ≤ 15000</td>
                        <td>D包</td>
                    </tr>
                </tbody>
            </table>
            <p>4.3 凡购买御邦医通健康管理套餐或单品总价格大于15000元者，可对应增加S货币包数量</p>

            备注：
            <p>您如果认同并愿意接受本服务说明书，请签字确认，本说明书一式两份，一份将会提供给您，另一份由御邦医通留存。</p>
            <p>以上规则最终解释权归深圳御邦医通数字化健康服务有限公司所有</p>
            <p class="botest">首期说明更新日期为：2017年1月12日。</p>
</div>
<style>
p {text-indent:25px}
</style>
