<style type="text/css">
	div{
		font-size: 14px;
		/*line-height: 22px;*/
	}
	p{
		font-size: 16px;
		text-align: center;
	}
	.block {
		padding: 10px 15px;
		padding-bottom: 58px;
		background-color: #fff;
	}
	.block-img img {
		width: 100%;
		height: auto;
	}
</style>

<div class="block">
	<h3 style="text-align: center; line-height: 5">御邦医通创客说明书</h3>
	 一、御邦医通创客简介<br>
	数字时代健康能力将是人的第一能力，管理健康的消费是必须保障的根本性消费；基于
	此御邦医通以“中国特色健康管理新专业模式”并关联的产品和服务为支撑，启动御邦医通“百
	万创客计划”，其核心是以有庆御通商业体系和御邦医通平行店为支撑，以低投入、零风险、
	1:5 的承诺收益为保障，打造新时代数以万计的“老板”。
	<br>
	二、御邦医通创客基本结构（155）<br>
	创客缴纳创业启动资金后，再链接 5 位创客并缴纳创客创业资金形成一个基本单元，此
	5 位被链接的创客每人再链接 5 位创客并缴纳创客创业资金，就构成御邦医通创客基本结构。
	<br>
	<div class="block-img">
		<%= image_tag "introduce01.png" %>
	</div>
	三、御邦医通创客创业流程<br>
	<div class="block-img">
		<%= image_tag "introduce02.jpg" %>
	</div>
	备注：创客在一轮创业周期结束后，如继续参与御邦医通“创客计划”，可续签，上轮对应的御邦医通
	平行店收益继续归本人所有；创业启动资金，需根据对应御邦医通平行店的综合评估进行修订。<br>
	四、御邦医通创客首期参与标准及对应创业收益<br>
	<div class="block-img">
		<%= image_tag "intruduce03.jpg" %>
	</div>
	五、御邦医通创客创业周期结束标准及总收益<br>
	1、在创业周期内，实际收益达到对应收益标准，创业周期即结束（可即刻开始新的创业
	周期），总收益如下：<br />
	对应收益+创业启动资金 3 倍价值的管理健康相关产品或服务（例如：创业启动资金 1 万
	元，获得 5 万元现金收益和 3 万元管理健康相关产品或服务）。<br />
	2、创业周期结束，实际收益未达到对应收益标准，总收益如下：<br />
	实际收益＋[（对应收益－实际收益）/对应收益]×启动资金×3 价值的健康管理相关产
	品（例如：投入 1 万元，实际完成 3 万元收益，获得 3 万元余收益和 1.2 万元产品）。<br />
	3、创客实际现金收益的 3%，需以个人名义捐赠给中华慈善总会有庆健康公益基金，给
	予公益捐赠证书并享有国家对应公益捐赠政策。<br />
	六、御邦医通创客收益<br />
	1、御邦医通平行店产品配领额 1-5%的分利。<br />
	2、创客链接有庆体系合伙人或链接创客的政策收入：被链接者实际消费总额的 5%。<br />
	3、御邦医通创客基本结构单元中 5 个直接链接创客实际现金收益的 10%。<br />
	七、御邦医通创客计划系统支持<br />
	1、御邦医通平行店合同；<br />
	2、御邦医通平行店配置方案；<br />
	3、御邦医通健康管理师培训支持；<br />
	4、御邦医通平行店相关产品支持。<br />
</div>