<style type="text/css">
	div{
		font-size: 14px;
		/*line-height: 22px;*/
	}
	p{
		font-size: 16px;
		text-align: center;
	}
	.argee{
		width: 100%;
		background-color: #ad0e11;
		position: fixed;
		bottom: 0;
		left: 0;
	}
	.link{
		text-align: center;
		display: block;
		padding: 10px 0;
		color: #fff;
	}
	.plan-button button{
		width: 100%;
		background: rgba(201, 43, 47, 1);
		border: none;
		padding: 10px 0;
		color: #fff;
		position: fixed;
		bottom: 58px;
		left: 0;

	}
	.block {
		padding: 10px 15px;
		padding-bottom: 58px;
		background-color: #fff;
	}

	.agree-block {
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.6);
		position: absolute;
		top: 0;
	}

	.block-order {
		width: 100%;
		background-color: #fff;
		position: absolute;
		bottom: 72px;
		left: 0;
	}

	.block-order>h3 {
		text-align: center;
		padding: 15px 0;
		border-bottom: 1px solid #bbb;
	} 

	.info-block {
		padding: 20px 0;
	}

	.info-block>p {
		margin: 5px auto 10px;
	}

	.info-block li {
		border-bottom: 1px solid #bbb;
		overflow: auto;
		padding: 5px 8px;
	}

	.info-block li span:first-child {
		float: left;
	}

	.info-block li span:last-child {
		float: right;
	}
	.button-applay button {
		width: 100%;
		background: rgba(201, 43, 47, 1);
		border: none;
		padding: 10px 0;
		color: #fff;
		margin-top: 60px;
	}
	.clear-block {

	}
	.clear-block h3 {
		text-align: center;
		position: relative;
		padding: 10px 0;
		border-bottom: 1px solid #bbb;
	}
	.clear-block img{
		width: 28px;
		height: 28px;
		position: absolute;
		left: 6px;
		top: 10px;
	}
</style>

<div class="block">
	<h3 style="text-align: center; line-height: 5">御邦医通创客创业合同</h3>

	甲 方：深圳御邦医通数字化健康服务有限公司（以下简称“甲方”）<br>
	地 址：深圳市南山区中山园路 1001号国际 E城 F1栋 6楼<br>
	凡是加入御邦医通创客的，必须签订本创客创业合同，并遵守执行本合同的各项约定。<br>
	一、加入方式<br>
	乙方已仔细阅读《御邦医通创客说明书》的内容，自愿加入御邦医通“创客计划”，
	并缴纳 元的创业启动资金。<br>
	二、创业总收益<br>
	乙方创业总收益按如下方式执行：<br>
	1、 个月之内，乙方创业收益达到 ¥ 元,乙方总收益为 ¥ 元
	的现金收益和价值 ¥ 元有庆体系之御易健平台提供的管理健康相关产品或服
	务。<br>
	2、 个月合同期满，乙方创业收益未达到¥ 元,乙方总收益为实际
	收益+ [（对应收益-实际收益）/对应收益] *3价值的健康管理相关产品（例如：创业
	启动资金 1万元，实际完成 3万元收益，最终将获得 3万元现金收益和 1.2万元管理健
	康相关产品或服务）。<br>
	三、权利和义务<br>
	1、甲方应向乙方提供御邦医通创客创业所必要的资料，并对乙方进行辅导培训。<br>
	2、乙方应积极按照御邦医通平行店的标准进行链接，并配合甲方完成与合作商之
	间的合同。<br>
	3、甲方在与合作商签订御邦医通平行店合同后，应立即开始平行店建设并运营，
	以保证乙方收益；<br>
	4、乙方全面配合甲方的线下工作，维护对应御邦医通平行店的正常运营。<br>
	5、创客实际现金收益的 3%，需以个人名义捐赠给中华慈善总会有庆健康公益基金，
	给予公益捐赠证书并享有国家对应公益捐赠政策。<br>
	6、乙方应严格保守甲方及合作商的商业秘密，不得以任何方式和理由对外泄露。<br>
	四、合同期限<br>
	1、本合同期限上限为______个月，自本合同签订之日______年____月____日起生效。<br>
	2、 个月之内，创客创业收益达到 ¥ 元，创业本周期即结束，乙方
	如自愿续约，可在御易健线上同意，本合同自动接续生效。<br>
	3、 个月到期，创客创业收益未达到¥ 元，合同终止后，可根据双方
	意愿续签合同。<br>
	五、创业收益结算方式<br>
	日清：按照平行店配领额实际收益的规定比例，与合作商直接结算。<br>
	六、争议的处理<br>
	1、本合同受中华人民共和国法律管辖并按其进行解释。<br>
	2、因履行本合同引起的或与本合同有关的争议，双方应首先通过友好协商解决，
	如果协商不能解决争议，可向甲方公司住所地有管辖权的人民法院起诉。<br>
	3、创客与签约平行店的合作商之间如发生争议纠纷，与甲方无关。<br>
	七、合同的解释<br>
	本合同未尽事宜或条款内容不明确，合同双方当事人可以根据本合同的原则、合同
	的目的、交易习惯及关联条款的内容，按照通常理解对本合同作出合理解释。该解释具
	有约束力，除非解释与法律或本合同相抵触。<br>
	八、合同的效力<br>
	本合同自双方签字并加盖单位公章或合同专用章之日起生效。<br>
	本合同正本一式贰份，双方各执壹份，具有同等法律效力。<br>

	<div>
		<select style="width: 50%; margin-top: 20px; background-color: #fff;">
		  <option value ="1000">1000</option>
		</select>
	</div>

	<div style="margin: 25px 0">
		<input type="checkbox" name="commitment" id="commit" />
		<label>我同意签订承诺消费书</label>
	</div>
	<div class="plan-button">
			<button id="planBtn"> 同意发起计划 </button>
	</div>
</div>

<!-- 弹框  -->
<div class="agree-block" id="agree" style="display: none;">
	<div class="block-order" id="blockD">
		<div class="clear-block">
			<h3>确认付款</h3>
			<%= image_tag "u12.png", id:'fImg' %>
		</div>
		<div class="info-block">
			<p style="font-size: 18px; font-weight: 800;">￥：10000</p>
			<ul>
				<li>
					<span>订单信息</span>
					<span>创客计划承诺金</span>
				</li>
				<li>
					<span>支付方式</span>
					<span>微信</span>
				</li>
			</ul>
		</div>
		<div class="button-applay">
			<a href="">
				<button> 立即付款 </button>
			</a>
		</div>
	</div>
</div>


<script type="text/javascript">
	$( function () {
		$("#planBtn").click( function () {
			if ($('#commit').is(":checked")) {
				$("#agree").show();
			}else {
				alert("请在承诺书前打钩")
			}
		})
		
		$("#fImg").click( function () {
			$("#agree").hide();
		})
	})
</script>