<%= title '服务首页' %>

<div class="home">
  <%= render 'shared/slide' %>
  <div class='weui-panel__hd'>御邦服务</div>
  <div class="weui-panel__bd">
    <div class="weui-grids">
      <% @serves.each do |serve|%>
        <a href="<%= serve.url %>" class="weui-grid">
          <p class="weui-grid__label"><%= serve.serve_name %></p>
        </a>
      <% end %>
    </div>
  </div>
</div>
