
<div class="weui-search-bar" id="searchBar">
    <form class="weui-search-bar__form">
        <div class="weui-search-bar__box">
            <i class="weui-icon-search"></i>
            <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索" required/>
            <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
        </div>
        <label class="weui-search-bar__label" id="searchText">
            <i class="weui-icon-search"></i>
            <span>搜索</span>
        </label>
    </form>
    <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
</div>

<img src="pulpit.jpg" alt="首页" width="360" height="128">

<div class="weui-flex">
    <div class="weui-flex__item"><div class="placeholder"><img src="./images/icon_tabbar.png" alt=""></div></div>
    <div class="weui-flex__item"><div class="placeholder"><img src="./images/icon_tabbar.png" alt=""></div></div>
    <div class="weui-flex__item"><div class="placeholder"><img src="./images/icon_tabbar.png" alt=""></div></div>
    <div class="weui-flex__item"><div class="placeholder"><img src="./images/icon_tabbar.png" alt=""></div></div>
</div>
<div class="weui-flex">
    <div class="weui-flex__item"><div class="placeholder"><img src="./images/icon_tabbar.png" alt=""></div></div>
    <div class="weui-flex__item"><div class="placeholder"><img src="./images/icon_tabbar.png" alt=""></div></div>
    <div class="weui-flex__item"><div class="placeholder"><img src="./images/icon_tabbar.png" alt=""></div></div>
    <div class="weui-flex__item"><div class="placeholder"><img src="./images/icon_tabbar.png" alt=""></div></div>
</div>



<div class="weui-cells">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>推荐商品</p>
        </div>
        <div class="weui-cell__ft">说明文字</div>
    </div>
</div>


