<%= title '龙氏脊筑首页' %>
<body class="body">
  <h1 class="centent">龙氏脊筑<h1>
  <h3 class="h3">御邦医通“龙氏脊筑”背景介绍</h3>
  <div class="divtext">
    <p class="ptext"> “龙氏脊筑”品牌，由《御邦医通商业模式》支撑下的有庆御通（中国）商业体系的控制主体北京有庆御通医疗投资有限公司和广州龙脊康医疗门诊部有限公司合力打造的专业治脊健脊服务机构。“龙氏脊筑”作为御邦医通慢病健康管理之“先谋其构 再谋其略、方可谋法”三部曲的基础，是以“龙氏手法”“脊柱病因学”和“脊柱医学”为核心，采用最规范的“龙氏治脊疗法”，提供全面的脊柱健康体检、诊断及治疗。帮助现代人从根源上解决亚健康及慢性病问题全面保养脊柱（人体第一生命线）的健康，筑起生命健康的长城。</p>
  </div>

  <h3 class="h3">御邦医通“龙氏脊筑”尊享级筑脊师介绍</h3>
  <div class="divtext">

    <p> “龙氏脊筑”之龙氏治脊疗法专业服务团队由专业治脊师、专业经络推拿师、护理人员组成。团队按照龙氏脊筑专用《服务行为规范标准》和《操作行为规范标准》及《操作指导》，在御邦医通全国各地工作服务中心（站）、奉亲府、御邦會为辖区百姓和会所会员进行专业脊椎治、防服务。</p>
    <%= image_tag "YiHongRong.jpg", size: "320x400" %>
    <p>“龙氏脊筑”创始人——易红荣。师从龙层花教授的龙氏治脊疗法主要继承人沈彤教授。多年来，一直研习《黄帝内经》、《易经》、《道德经》，悟及《内经图》精要后，通过对祖传接骨术、道家正骨术刻苦地钻研和大量临床经验感悟，普济众生的使命感越发强烈，为了更具科学理论支撑、更贴切地服务于大众，先后求学于多地医科大学，通过对医理和西医解剖学研习，灵活运用中、西医学理论、实践相结合，脊椎正骨临床实操效果奇佳。尤其师从沈彤教授后，系统研习“脊椎病因治疗学”理论，透悟“脊椎病因治疗学”理论支撑下的“龙氏治脊疗法”，对脊椎病因、病理、脊椎及人体结构了然于心。临床运用，如虎添翼，妙手回春，擅长徒手治疗颈椎病、胸腰椎病、腰腿痛、骨盆旋移综合症。经她治疗过的患者由衷感叹：终于体会到什么叫脱胎换骨、昂首挺胸、浩然正气。</p>

    <p>为了能帮助更多人解决脊柱健康问题，让更多专业人才掌握“龙氏治脊疗法”，传承龙老、沈彤教授一心为大众脊柱健康而付出的无私忘我精神。由易红荣带领的“龙氏脊筑”团队，肩负着为人类脊柱健康保驾护航，防治未病，解决现代人亚健康问题的使命。</p>

  </div>
  <div class="divtext">
    <p>
    地址：深圳市南山区西丽留仙洞中山园路1001号TCL国际E城F1栋BCD单元6楼</br>
    咨询电话：0755-86700010</br>
    欢迎来电咨询预约！</br>
    </p>
  </div>
</body>
