.centent{
  text-align: center;
}

.body{
  font-family:'microsoft Yahei';
}

.h3{
  padding:15px;
  text-align:center;
}

.ptext{
  text-indent: 2em;
}

.divtext{
  letter-spacing:1px;
  margin:10px;
  padding:10px;
}

.notice{
  text-align: center;
  color: red;
}

.box{
  margin-bottom: 0px;
}

.po-left{
  margin-left: 50px;
}

.top{
  margin-top: 35px;
}
