<style type="text/css">

	.d_title {
		margin: 10% 0;
	}


	.d_li {
		width: 40%;
		height: 25px;		
		text-align: center;
		margin:0 auto;
		margin-bottom: 10px;
	}
</style>


<ul style="padding: 13px;">
	<% if @user_idata_subscribe.blank? || @user_idata_subscribe.status == "fail" %>
		<h3 style="font-size: 16px; line-height: 28px;" class="d_title yyj_title">正在为您订阅服务中</h3>
	<% elsif @user_idata_subscribe.status == "success" %>
		<h3 style="font-size: 16px; line-height: 28px;" class="d_title yyj_title">您已订阅成功，订阅的服务有：</h3>
		<% @user_idata_subscribe.list.pluck(:service_id).each do |l| %>
			<li style=" marg" class="d_li yyj_color"><%= IdataRecord.dict[l.to_sym][:serviceName] %></li>
		<% end %>
	<% else %>
		<h3 style="font-size: 16px; line-height: 28px;" class="d_title yyj_title">您订阅失败，请重新订阅</h3>
	<% end %>
</ul>
