//= require activeadmin_addons/all
// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

$skinLogo: image-url("ybyt04.png") no-repeat center center;
$skinActiveColor: #bf2835;

@import "active_skin";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.cke_chrome {
  width: 79.5% !important;
  overflow: hidden;
}

#header h1.site_title {
  background-size: 70%;
  padding-left: 10px;
}
.col-qcode {
  text-align: center !important;
  table {
    padding-top: 20px !important;
    display: inline-block !important;
    border-width: 0 !important;
    border-style: none !important;
    border-color: #0000ff !important;
    border-collapse: collapse !important;
  }

  td {
    border-left: solid 5px #000 !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 0px !important;
    height: 5px !important;
  }

  td.black { border-color: #000 !important; }
  td.white { border-color: #fff !important; }
}
