<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>深圳御邦医通数字化健康服务有限公司/御邦医通</title>
    <meta name="keywords" content="深圳御邦医通数字化健康服务有限公司/御邦医通">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1">
    <!-- <link href="./style.css" rel="stylesheet" type="text/css"> -->
    <!-- <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script> -->
    <!-- <script src="./yd.js"></script> -->
    <!-- <script src="js/jquery.min.js"></script> -->
    <!-- <script src="js/jquery.SuperSlide.2.1.1.js"></script> -->
    <!-- <script src="js/responsiveslides.min.js"></script> -->
    <!--[if lt IE 9]>
	    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
	    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--[if lte IE 7]>
	    <script>
	    	window.location.href='http://cdn.dmeng.net/upgrade-your-browser.html?referrer='+location.href;
	    </script>
    <![endif]-->




</head>
<body>

    <div class="header">
        <div class="header-left-1">
            <a href="index.html"><%= image_tag "logo1.png",width:144,height:46 %></a>
        </div>
        <div class="header-right-1">
            <input id="txt" type="text"value="SEARACH" style="color:#c7d1cc" onFocus="txtfocus()"onBlur="txtonblur()"/>
            <botton><img src="./pic_shousuo.jpg" alt="" class="main-tp"></botton>
        </div>
        <div class="menu">
         	<span></span>
         	<span></span>
         	<span></span>
        </div>
    </div>
    <div class="mobile-nav">
        <ul>
            <li>
                <a href="index.html" class="mobileNav-liBg" >首页</a>
            </li>
            <li>
                <a href="<%= web_digital_path %>"  >数字时代</a>
            </li>
            <li>
                <a href="release.html"  >御易健</a>
            </li>
            <li>
                <a href="release.html"  >健康计划</a>
            </li>
            <li>
                <a href="###">关于我们</a>
                <div class="mobile-subNav">
                    <a href="release.html"   >公司简介</a>
                    <a href="culture.html"   >企业文化</a>
                    <a href="development_path.html"   >企业大事件</a>
                    <a href="structure.html"   >组织架构</a>
                    <a href="video.html"   >宣传片</a>
                </div>
            </li>
            <li>
                <a href="###">企业新闻</a>
                <div class="mobile-subNav">
                    <a  href="news_list_2.html">行业动态 </a>
                </div>
            </li>
            <li>
                <a href="###">联系我们</a>
                <div class="mobile-subNav">
                    <a href="contactus.html"   >加入我们</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="mobile-wrap"></div>

	<div class="main-1">
        <div class="main-dh" >
            <ul>
                <li><a href="http://www.ybyt.cc" >首页</a></li>
				<li><a href="<%= web_digital_path %>" >数字时代</a></li>
				<li><a href="<%= web_home_path %>" >御易健</a></li>
				<li><a href="http://www.ybyt.cc" >健康计划</a></li>
				<li>
                    <a href="http://ybyt.cc/release.html" >关于我们</a>
    				<div>
    					<a href="release.html" >公司简介</a>
    					<a href="culture.html" >企业文化</a>
    					<a href="development_path.html" >企业大事件</a>
    					<a href="structure.html" >组织架构</a>
    					<a href="video.html" >宣传片</a>
    				</div>
                </li>
				<li>
                    <a href="http://ybyt.cc/news.html" >企业新闻</a>
                    <div>
    					<a href="news_list_1.html">企业新闻 </a>
    					<a href="news_list_2.html">行业动态 </a>
    				</div>
				</li>
                <li>
                    <a href="http://ybyt.cc/contactus.html" >联系我们</a>
				    <div>
						<a href="http://ybyt.cc/contactus.html" >加入我们</a>
					</div>
                </li>
			</ul>
		</div>
    </div>



   <style>
        .main-min-twjh ul {
            overflow: hidden;
        }
        .main-min-twjh ul li{
            float:left;
            width:550px;
            height:380px;
            display:block
        }
        .main-min-twjh ul li span{
            font-size:29.6px;
            margin:auto;
            width:334px;
            display:block;
            margin-top:100px;
            margin-bottom:40px;
            line-height:15px;
            line-height: 22px;
        }


    </style>

    <script type="text/javascript">

    </script>
</body>
</html>


<script>
	// JavaScript Document



	function txtfocus(){

		var mytxt=document.getElementById("txt");

		if(mytxt.value=="SEARACH"){

			mytxt.value="";

			mytxt.style.color="#121212";

		}

	}

	function txtonblur(){

		var mytxt=document.getElementById("txt");

			if(mytxt.value==""){

				mytxt.value=mytxt.defaultValue;

				mytxt.style.color="#c7d1cc";

		}

	}

	$(function(){
		$('.main-dh ul li').hover(function(){
			$(this).children('div').stop().slideToggle(200);
		})

		$('.main-dh ul li:first-child a').css('background','#fff');
		$('.main-dh ul li:gt(4) a').css('background','#fff')

		$('.main-dh li:eq(1) div').css('width','445px');
		$('.main-dh li:eq(2) div').css('width','284px');
		$('.main-dh li:eq(3) div').css('width','454px');
		$('.main-dh li:eq(4) div').css('width','258px');

		//手机导航

		$('.menu').click(function(){
			$('.mobile-wrap').show();
			$('.mobile-nav').animate({'right':'0'},200);
			$('html,body').css({'overflow':'hidden'});
		})
		$('.mobile-wrap').click(function(){
			$(this).hide();
			$('.mobile-nav').animate({'right':'-230px'},200);
			$('html,body').css({'overflow':'auto'});
		})

		$('.mobile-nav li').click(function(){
			$(this).find('div').slideToggle();
			$(this).siblings().find('div').slideUp();
		})
		//手机导航 end


		$('.index-btn').click(function(){
			$('body,html').animate({'scrollTop':'0'},200);
		})
		$(window).scroll(function(){
			var sT = $(window).scrollTop();
			if( sT > 300 ){
				$('.index-btn').animate({'right':'15px'},50);
			}else{
				$('.index-btn').animate({'right':'-40px'},50);
			}
		})

		//首页
		$('.index li:eq(1)').addClass('index_li02');

		var webWidth = $(window).width();
		if( webWidth > 1100 ){
			$('.index li').hover(function(){
		        $(this).find('.list_text02').stop().animate({'left':'50%'},300);
		        $(this).find('a').addClass('aClass').find('a').children('span').addClass('spanClass');
		    },function(){
		        $(this).find('.list_text02').stop().animate({'left':'101%'},300);
		        $(this).find('a').removeClass('aClass').find('a').children('span').removeClass('spanClass');
		    })
		}

		$('.con-cont3 li:eq(1)').addClass('cont3_li02');


		$('.con-cont4 li img').load(function(){
			function change(){
				var imgHeight = $('.con-cont4 li img').height();
				$('.text01_wrap').css('height',imgHeight+'px');
			}
			change();
		})
		function change(){
			var imgHeight = $('.con-cont4 li img').height();
			$('.text01_wrap').css('height',imgHeight+'px');
		}
		change();
		$(window).resize(function(){
			change();
		})


		//新闻
		$('.main-hynew li img').load(function(){
			function newsChange(){
				var imgHeight = $('.main-hynew li img').height();
				$('.hynew_textwrap').css('height',imgHeight+'px');
			}
			newsChange();
		})
		function newsChange(){
			var imgHeight = $('.main-hynew li img').height();
			$('.hynew_textwrap').css('height',imgHeight+'px');
		}
		newsChange();
		$(window).resize(function(){
			newsChange();
		})
		// 新闻end


	})

	$(function(){
		var liElement01 =  $('.main-min-twjh li:eq(1)').html();
		var liElement05 =  $('.main-min-twjh li:eq(5)').html();
		var liElement09 =  $('.main-min-twjh li:eq(9)').html();
		var webWidth = $(window).width();
		if( webWidth < 1100 ){
			$('.main-min-twjh li:eq(0)').before('<li>' + liElement01 + '</li>');
			$('.main-min-twjh li:eq(2)').remove();
			$('.main-min-twjh li:eq(4)').before('<li>' + liElement05 + '</li>');
			$('.main-min-twjh li:eq(6)').remove();
			$('.main-min-twjh li:eq(8)').before('<li>' + liElement09 + '</li>');
			$('.main-min-twjh li:eq(10)').remove();
		}

		//发展历程
		if( webWidth < 1100 ){
			var rightLi01 = $('.develop-right li:eq(0)').html();
			var rightLi02 = $('.develop-right li:eq(1)').html();
			$('.develop-left02 li:eq(0)').after('<li>' + rightLi01 +'</li>');
			$('.develop-left02 li:eq(2)').after('<li>' + rightLi02 +'</li>');
			$('.develop-right').remove();

		}

		//发展历程



	})


// 	$(function(){
// 	var aDiv=document.getElementById("box");
// 	var aUl=aDiv.getElementsByTagName('ul');
// 	var aLi=aUl[0].getElementsByTagName('li');
// 	var bLi=aUl[1].getElementsByTagName('li');
// 	var timer=play=null;
// 	var index=0;
// 	for(var i=0;i<bLi.length;i++)
// 	{
// 		bLi[i].index=i
// 		bLi[i].onmouseover=function()
// 		{
// 		  qh(this.index);
// 	    }
// 		//图片的变换alpha变换
// 		function qh(a)
// 		{
// 			var alpha=0;
// 		  for(var i=0;i<aLi.length;i++)
// 		  {
// 		    bLi[i].className=''
// 			aLi[i].style.display='none'
// 		  }
// 		  bLi[a].className='active'
// 		  aLi[a].style.display='block'
// 		  clearInterval(timer)
// 		  for(var i=0;i<aLi.length;i++)
// 		  {
// 			aLi[i].style.opacity=0;
// 			aLi[i].style.filter="alpha(opacity:0)";
// 		  }
// 		  index=a
// 		  timer=setInterval(function()
// 		  {
// 			alpha+=2;
// 			aLi[index].style.opacity=alpha/100
// 			aLi[index].style.filter='alpha(opacity:'+alpha+')';
// 			if(alpha>=100)
// 		    {
// 				alpha=100;
// 				clearInterval(timer)
// 			}
// 		  },35)
// 		}
// 	 }
// 	//图片的自动播放
// 	function autoPlay()
// 		{
// 		  play=setInterval(function()
// 		  {
// 			index++
// 			index%=bLi.length
// 			qh(index)
// 		  },5000)
// 		}
// 		autoPlay();
// 		aDiv.onmouseover=function()
// 		{
// 		   clearInterval(play)
// 		}
// 		aDiv.onmouseout=function()
// 		{
// 		   autoPlay();
// 		}
// })







</script>
