<div class="weui-panel weui-panel_access">
  <div class="weui-panel">
    <div class="weui-panel__hd">客服服务</div>
    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_small-appmsg">
        <div class="weui-cells">

          <a class="weui-cell weui-cell_access" href="<%= feedback_advice_type_path %>">
            <div class="weui-cell__bd weui-cell_primary">
              <p>问题反馈</p>
            </div>
            <span class="weui-cell__ft"></span>
          </a>

         <!--  <a class="weui-cell weui-cell_access" href="<%= mall_orders_path %>">
            <div class="weui-cell__bd weui-cell_primary">
              <p>AAAA</p>
            </div>
            <span class="weui-cell__ft"></span>
          </a> -->

        </div>
      </div>
    </div>
  </div>
</div>


<div class="weui-panel weui-panel_access">
  <div class="weui-panel">

    <div class="weui-panel__bd">
      <div class="weui-media-box weui-media-box_small-appmsg">
        <div class="weui-cells">

          <a class="weui-cell weui-cell_access" id="telephone">
            <div class="weui-cell__bd weui-cell_primary">
              <p>联系方式：0755-87600010</p>
            </div>
            <!-- <span class="weui-cell__ft"></span> -->
          </a>
        </div>
      </div>
    </div>
  </div>
</div>




