@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

// .aimg {
// 	border: 0;
// 	padding: 20px;
// }

.button_box {
	/*width: 902px;*/
	text-align: center;
}

.bg-size{
	// background-size: 100% 60%;
	height: 25%;
}

.h-data{
	// margin: 30px auto 0 auto;
	float: left;
	padding: 20px;
}
