<div class='wallet bg-size'>
  <div class="weui-flex profile">
    <div>
      <div class="placeholder">
        <%= image_tag current_user.headimgurl if current_user && current_user.headimgurl %>
      </div>
    </div>
    <div class="weui-flex__item profile-text">
      <div class="placeholder"><%= current_user.nickname %></div>
    </div>
  </div>
</div>
