<%= title '199计划邀请码' %>
<%= render 'head' %>

<div style="margin-left: 1rem; font-size: 15px; color: #555; border-bottom: 1px solid #eee; padding:1rem 0;">
  <span style="color: red; font-size: 15px;">199计划邀请码：</span>
</div>
<div class="qr-code">
  <%= raw @community_code.as_html %>
</div>

<!-- <div style="margin-left: 1rem; font-size: 15px; color: #555; border-bottom: 1px solid #eee; padding:1rem 0;">
  <span style="color: red; font-size: 15px;">我的199计划：</span>
  <% if !@capital.nil? %>
    <p style=" color: #555;font-size: 15px;"> 我的队长：<%= @capital.name %> </p>
  <% end %>
</div> -->
