
<style type="text/css">
  form{
    margin-left: 1rem;
  }

  form p{
    line-height: 2rem;
  }

  input{
    height: 1.8rem;
    outline: none;
    padding-left: 1rem;
  }
  select{
    height: 1.9rem; margin:0.1rem 0.5rem 0 0;
    width: 5rem;
  }

  .account,.quantity,select{
    border: 0;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
  }

  .quantity{
    width: 90%;
  }

  .zhanghu {
    width: 90%;
    display: flex;
    margin-bottom: 5px;
  }

  .account{
    flex: 1;
  }

</style>


<%= render 'cash_hearder' %>



<% if params[:format].to_i != 1 %>
  <%= form_tag(controller: "info", action:"create_exchange", method:"post") do %>
    <p>提现金额:</p>
    <input type="number" name="quantity" class="quantity">
    <div class="boders"></div>
    <p>提现账户:</p>
    <div class="zhanghu">
      <select name="account_type">
        <option value="0" style="font-size:10px;">提现账户</option>
        <option value="支付宝">支付宝</option>
        <option value="银行卡">银行卡</option>
    </select>
    <input type="text" name="account" placeholder="请输入您的账号信息" class="account">
    </div>
    <div class="zhanghu">
        <input type="submit" class="weui-btn weui-btn_primary showtoast" style="margin: 30px 5% 0 5%;background-color: #30A8E2;" value="确认提现">
    </div>
  <% end %>
<% else %>
  <%= form_tag(controller: "info", action:"create_deposit_exchange", method:"post") do %>
    <p>充值金额:</p>
    <input type="number" name="quantity" class="quantity">
    <div class="boders"></div>
    <div class="weui-cells">
      <div class="weui-cell weui-cell_select weui-cell_select-after">
        <div class="weui-cell__hd">
          <label for="" class="weui-label">支付方式</label>
        </div>
        <div class="weui-cell__bd">
          <%= select_tag 'payment', options_for_select([['微信支付', 'PAYMENT_TYPE_WECHAT'],["银行卡支付", "PAYMENT_TYPE_YJ"]]) ,  class: "weui-select" %>
        </div>
      </div>
    </div>
   
    
    <div class="zhanghu">
        <input type="submit" class="weui-btn weui-btn_primary showtoast" style="margin: 30px 5% 0 5%;background-color: #30A8E2;" value="确认充值">
    </div>
  <% end %>
<% end %>








