<style type="text/css">
	
	.es_content h2 {
		text-align: center;
		padding-top: 15px;
		font-family: "Microsoft YaHei";
		font-weight: normal;
		font-size: 2rem;
		color: #6daaac;
	}

	.es_content .list {
		width: 90%;
		margin: 0 auto;
		margin-top: 20px;
	}

	.es_content .list .s_list {
		margin-bottom: 20px;
		padding: 10px 10px;
	}

	.es_content .list .s_list span,.es_content .list .s_list a {
		display: block;
	}

	.es_content .list .s_list span {
		color: #6daaac;
		text-indent: 20px;
	}

	.es_content .list .s_list a {
		color: #666;
		text-align: center;
		padding-bottom: 5px;
		border-bottom: 1px dashed #ccc;
	}

</style>

<div class="es_content">
	<h2>样例展示</h2>
	<div class="list">
		<div class="xueya s_list" style="background-color: rgba(195,221,222,0.5);">
			<span>血压</span>
			<a href="#">血压检测通知</a>
			<a href="#">血压监测周报</a>
			<a href="#">血压监测月报</a>
			<a href="#">完美档案报告</a>
			<a href="#">健康西游</a>
			<a href="#">血压检后问询报告</a>
			<a href="#">健康方案悦享版</a>
			<a href="#">健康方案尊享版</a>
			<a href="#">高血压随访</a>
		</div>
		<div class="xuetang s_list" style="background-color: rgba(175,215,221,0.5);">
			<span>血糖</span>
			<a href="#">血糖检测通知</a>
			<a href="#">血糖监测周报</a>
			<a href="#">血糖监测月报</a>
			<a href="#">健康西游漫画</a>
			<a href="#">健康方案悦享版</a>
			<a href="#">健康方案尊享版</a>
			<a href="#">糖尿病随访</a>
		</div>
		<div class="xuezhi s_list" style="background-color: rgba(175,201,221,0.5);">
			<span>血脂</span>
			<a href="#">血脂检测通知</a>
			<a href="#">健康方案悦享版</a>
			<a href="#">健康方案尊享版</a>
		</div>
		<div class="tizhong s_list" style="background-color: rgba(175,177,221,0.5);">
			<span>体重</span>
			<a href="#">体重检测通知</a>
			<a href="#">体重监测周报</a>
			<a href="#">体重监测月报</a>
		</div>
		<div class="qita s_list" style="background-color: rgba(191,175,221,0.5);">
			<span>其他</span>
			<a href="#">健康指数报告</a>
			<a href="#">体检解读</a>
			<a href="#">体脂率检测通知</a>
			<a href="#">血氧检测通知</a>
			<a href="#">尿酸检测通知</a>
		</div>					
	</div>
</div>