<%= title '我邀请的好友' %>
<table class="table">
    <thead>
        <tr>
            <td class="td">邀请用户</td>
            <td class="td">邀请时间</td>
        </tr>
    </thead>
    <tbody>
        <% @invitation_friend.each do |invitation_friend| %>
        <tr>
          <td class="td"><%= invitation_friend.name %></td>
          <td class="td"><%= date invitation_friend.created_at %></td>
        </tr>
        <% end %>
    </tbody>
  </table>
