<%= title '我的方案信息' %>
<a class="weui-cell weui-cell_access" href="<%= user_home_programs_path %>">
  <div class="weui-cell__bd weui-cell_primary">
    <p>我健康管理方案</p>
  </div>
  <span class="weui-cell__ft"></span>
</a>

<a class="weui-cell weui-cell_access" href="<%= service_spinebuild_root_path %>">
  <div class="weui-cell__bd weui-cell_primary">
    <p>龙氏脊筑方案</p>
  </div>
  <span class="weui-cell__ft"></span>
</a>
