<%= title '我的方案' %>
<div class="weui-panel">
  <div class="weui-panel__hd"><h4>我健康管理方案</h4></div>
  <div class="weui-panel__bd">
    <% if !@time_programs.nil? %>
        <% @time_programs.each do |program| %>
            <% @program_id = program.id %>
            <a class="weui-cell weui-cell_access" href="<%= user_programs_path(@program_id) %>">
              <div class="weui-cell__bd">
                <p class="font"><%= reservationtime program.time %></p>
              </div>
              <div class="weui-cell__ft">
              </div>
            </a>
        <% end %>
    <% else %>
        <div class="center">
          <div class="weui-cell__bd weui-cell_primary">
            <p class="red">对不起，您并没有健康方案！</p>
          </div>
        </div>
        <div class="center">
          <div class="weui-cell__bd weui-cell_primary">
            <p class="font_centent">请您联系中医健康管理师</p>
          </div>
        </div>
    <% end %>
  </div>
</div>