<div class="weui-msg">
    <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
    <div class="weui-msg__text-area">
        <h2 class="weui-msg__title">积分到账</h2>
        <p class="weui-msg__desc">您参加的活动福利：赠送100积分已经到账。点击查看您的<a href="/user/wallet">积分余额</a></p>
    </div>
    <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
            <a href="/mall" class="weui-btn weui-btn_primary">消费积分</a>
        </p>
    </div>
</div>
