<%= render 'cash_hearder' %>


<div style="margin-top: 10px;display: flex;position: fixed;width: 100%;bottom: 58px;height:7%;">
  <a class="button-tx" href="<%= user_exchange_path %>">充值</a>
</div>
<div style="margin-top: 10px;display: flex;position: fixed;width: 100%;bottom: 58px;height:7%;">
  <a class="button-tx" href="<%= user_exchange_path %>">提现</a>
</div>
