<%= render 'wallet_header' %>

<%= line_chart [
  {name: "数量", data: @show.order(created_at: :desc).pluck(:created_at, :number)}
], library: @options %>
  <!-- <a class="weui-btn weui-btn_primary" id="txtlogin">赠送</a>
  <a class="weui-btn weui-btn_primary" id="txtlogin">兑换</a> -->
<div style="margin-top: 10px;display: flex;position: absolute;width: 100%;bottom: 58px;height:7%;">
  <a class="button-zs" href="<%= user_gift_path %>">赠送</a>
  <!-- <a class="button-dh" href="<%= user_exchange_path %>">兑换</a> -->
</div>


<style>
.weui-tab__panel {
  background-color: #EAE8E8;
}
</style>
