<%= render 'cash_hearder' %>


<!-- <div style="margin-top: 10px;display: flex;position: fixed;width: 100%;bottom: 108px;height:7%;">
  <a class="button-tx" href="<%= user_exchange_path("1") %>">充值</a>
</div>
<div style="margin-top: 10px;display: flex;position: fixed;width: 100%;bottom: 58px;height:7%;">
  <a class="button-tx" href="<%= user_exchange_path("2") %>">提现</a>
</div> -->
