<%= title '我的钱包' %>

<% if !@scoin_account[0].nil? %>
  <div class="weui-cells__title">已拥有的S币账户：</div>
  <div class="weui-cells weui-cells_radio">
      <% @scoin_account.each do |account| %>
        <label class="weui-cell weui-check__label" for="x11">
            <div class="weui-cell__bd">
                <p>账户：<%= account.account %></p>
            </div>
        </label>
      <% end %>
    </div>
<% else %>
  <div class="weui-cells__title">已拥有的S币账户：</div>
  <div class="weui-cells weui-cells_radio">
      <label class="weui-cell weui-check__label" for="x11">
          <div class="weui-cell__bd">
            <p>账户：未拥有S币账户</p>
          </div>
      </label>
    </div>
<% end %>

<% if !@sum.nil? %>
    <div class="weui-cells__title">已拥有的S币余额：</div>
    <div class="weui-cells weui-cells_radio">
        <label class="weui-cell weui-check__label" for="x11">
            <div class="weui-cell__bd">
                <div>S 币余额：<%= @sum%></div>
            </div>
        </label>
    </div>
<% else %>
  <div class="weui-cells__title">已拥有的S币余额：</div>
  <div class="weui-cells weui-cells_radio">
      <label class="weui-cell weui-check__label" for="x11">
          <div class="weui-cell__bd">
              <div>S 币余额：0</div>
          </div>
      </label>
  </div>
<% end %>

<% if !@yi_coin.y_coin.nil? %>
<div class="weui-cells__title">已拥有的易币余额：</div>
<div class="weui-cells weui-cells_radio">
      <label class="weui-cell weui-check__label" for="x11">
          <div class="weui-cell__bd">
              <div>易币余额：<%= @yi_coin.y_coin %></div>
          </div>
      </label>
  </div>
<% else %>
<div class="weui-cells__title">已拥有的易币余额：</div>
<div class="weui-cells weui-cells_radio">
      <label class="weui-cell weui-check__label" for="x11">
          <div class="weui-cell__bd">
              <div>易币余额：0</div>
          </div>
      </label>
  </div>
<% end %>
