<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Terms of Service</title>
        <style>

            p,ulli,table{
                font-size:15px;
                line-height: 25px;
                text-indent:2em;
            }
            table{
                border-collapse:collapse;
            }
        </style>
    </head>
<body  style="margin: 0 auto; padding: 40px 100px; ">
<div  style=" padding: 40px 50px; ">
    <h1 style="text-align: center;margin-bottom: 40px">御易健平台服务条款</h1>
    <p>欢迎使用御易健平台提供的服务。请您（下列简称为“用户”）仔细阅读以下全部内容。
    如用户勾选“阅读并同意《御易健平台服务条款》”，即表示用户与御易健平台已达成协议，
    自愿接受本服务条款的所有内容。此后，用户不得以未阅读本服务条款内容做任何形式的抗辩。</p>
    <h2>1、服务条款的确认和接纳</h2>
    <p>御易健平台服务涉及到的御易健产品的所有权以及相关软件的知识产权归御易健平台所有。御易健所提供的服务必须按照其发布的公司章程，
        服务条款和操作规则严格执行。本服务条款的效力范围及御易健平台的一切产品和服务，用户在享受御易健平台任何单项服务时，应当受本服务条款的约束。
    </p>
    <p>当用户使用御易健平台各单项服务时，用户同意以单项服务要求的方式同意该单项服务的服务条款以及御易健平台在该单项服务中发出的各类公告
        （下列简称为“单项条款”），在此情况下单项条款与本服务条款同时对用户产生效力。若单项条款与本服务条款存在同类条款的冲突，
        则在单项条款约束范围内应以单项条款为准。</p>
    <h2>2、关于御易健</h2>
    <p>御易健是《御邦医通商业模式》及其核心项目：①御邦医通“智·医·康·护·养生态工程”项目②御邦奉亲府项目
    ③ 御邦医通慢病健康管理服务中心（站）项目推动、运营的核心战略级措施，亦是助力数字社区综合服务平台的有效措施
    ，是以管理慢性病为核心价值的会员服务结构体；是实现“管理健康、创造财富”创新分利模式的线上线下共享服务平台，
    包括“御易健”网上商城、客户消费分利模块、客户健康教育模块、健康管理服务模块等。</p>
    <h2>3、关于御易健会员</h2>
    <p>用户按照御邦医通——御易健入会规则消费，即可成为会员，同时拥有御易健个人账户，并按照规则获得相应的分利。</p>
    <p>备注：用户消费包括但不限于----1.御邦医通健康教育；2.御邦医通家庭医生签约服务；3.御邦医通家庭中医签约服务；
    4.御邦医通奉亲俱乐部会员；5. 御邦医通体系内医疗食品、保健品、养生饮品、“龙氏脊筑”服务；6.御邦医通临床深度营养强化干预方案等。</p>
    <h2>4、关于易积分</h2>
    <p>易积分是御易健会员分利的载体和凭证，用户可以通过消费御邦医通的产品、服务成为御易健会员，然后拥有御易健账户，
    并按照规则获得对应的易积分包。易积分可用于购买御易健网上商城的产品、服务、兑换现金或兑换其他御易健平台提供的投资机会。</p>
    <h2>5、关于御易健商城积分准则</h2>
    <p>为保证御易健----“管理健康、创造财富”这一措施的有效实施，特制定YBJ（御易健---易积分）、
    YBZ（御易健----中数信安数字社区综合服务平台合伙人股权资格+御邦医通社区慢病健康管理中心合伙人股权资格+易积分）两种会员体系。
    （具体执行标准以最新更新的内容为准。）</p>
    <h3>5.1  YBJ会员“易积分”的赠送规则：</h3>
    <h4>5.1.1会员链接会员注册奖励规则：</h4>
    <p><u>用户邀请好友成功注册御易健会员，送给用户6个易积分，被邀请人获得3个易积分。</u></p>
    <h4>5.1.2 管理健康、创造财富---YBJ会员（易积分）</h4>
    <p>1）用户购买御易健商城产品及服务</p>
    <p><u>按用户实际现金消费的120%返还积分（例：甲用户消费10000元人民币，则返还12000个易积分）。</u></p>
    <p>2）会员用户链接会员的消费奖励规则：</p>
    <p><u>会员用户会获得直接邀请的会员每次现金消费的20%作为奖励积分。</u></p>
    <h4>5.1.3 管理健康、创造财富---YBZ会员（数字社区）</h4>
    <p>1）YBZ会员赠送规则</p>
    <table border="1" style="text-align: center">
        <thead>
            <tr>
                <th>一次性消费额度（元）</th>
                <th>YBZ会员包</th>
                <th>数字社区综合服务平台合伙人股权资格（10000元／个）</th>
                <th>御邦医通慢病健康管理服务中心合伙人股权资格（5000元／个）</th>
                <th>赠送易积分（按实际消费额折算）</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>25000</td>
                <td>A</td>
                <td>1</td>
                <td>-</td>
                <td rowspan="2">40%</td>
            </tr>
            <tr>
                <td>35000</td>
                <td>B</td>
                <td>1</td>
                <td>1</td>
            </tr>
        </tbody>
    </table>
    <p>2）会员链接奖励规则：</p>
    <p><u>用户自成为YBZ会员之日起，每个月（按自然月结算）销售5个以内（含5个）YBZ会员包，按邀请的YBZ会员消费的现金金额的10%数量的易积分，赠送给邀请人。</p>
    <p>用户自成为YBZ会员之日起，每个月（按自然月结算）销售6个以上（含6个）YBZ会员包，按邀请的YBZ会员消费的现金金额的20%数量的易积分，赠送给邀请人。</u></p>
    <h3>5.2  “易积分”的兑换规则：</h3>
    <p><u>“易积分”可以兑换人民币（1积分=0.5元人民币），购买商品获得积分到账6个月后可以兑换（其他途径获得积分可立即兑换），兑换最低额为400积分，提交兑换申请后，
    三个工作日内汇入用户指定账户（支付宝、银行卡，需提交相关账户信息）。</u></p>
    <h3>5.3  “易积分”的增值规则：</h3>
    <p>购买产品赠送的易积分为可增值积分，到达指定时间未消费或提现的部分将实现自动增值，规则如下：</p>
    <table border="1" style="text-align: center">
        <thead>
        <tr>
            <th>时间</th>
            <th>6个月</th>
            <th>1年</th>
            <th>2年</th>
            <th>3年</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>增值赠送比例</td>
            <td>5%</td>
            <td>15%</td>
            <td>20%</td>
            <td>60%</td>
        </tr>
        <tr>
            <td colspan="5" style="text-align: left;"><u>备注：1.赠送时间为各时间段节点后的一日内；2.积分满三年即清零（三年后消费日起45天内完成）；
                3.增值赠送基数仅以购买产品或服务的现金消费金额折算，其余赠送积分不参与该积分自动增值活动；
                4.如购买产品赠送的可增值积分被使用，则按剩余额计算。</u></td>

        </tr>
        </tbody>
    </table>

    <h3>5.4  “易积分”的用途</h3>
    <p>“易积分”可以在御易健网上商城购买产品、服务，规则如下：</p>
    <ul >
        <li><u>购买产品获得的每笔积分入账后15天后即可激活使用</li>
        <li>1个易积分=1元人民币的购买力</u></li>
    </ul>
    <h3>5.5  “易积分”保障机制</h3>
    <p>1）合伙人股权资格</p>
    <p><u>在不给双方造成不利影响的情况下自愿退出，按一定价格由御邦医通指定公司回购或御邦医通协助下转让给其他合伙人。具体标准如下：</u></p>
    <table border="1" style="text-align: center">
        <thead style="text-align: center;">
            <tr>
                <th>持有时间</th>
                <th>套餐（YBZ会员包）</th>
                <th>回购标准</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>6个月</td>
                <td>A</td>
                <td>10000元</td>
            </tr>
             <tr>
                <td>1年</td>
                <td>A</td>
                <td>15000元</td>
            </tr>
             <tr>
                <td>6个月</td>
                <td>B</td>
                <td>15000元</td>
            </tr>
             <tr>
                <td>1年</td>
                <td>B</td>
                <td>20000元</td>
            </tr>
        </tbody>
    </table>


    <h2>6、御易健平台的使用规则</h2>
    <p>御易健平台帐号的注册资料包括但不限于用户的微信帐号名称、头像、密码、注册或更新御易健帐号时输入的所有信息以及用户
    使用御易健各单项服务时输入的名称、头像等所有信息。</p>
    <p>用户在注册御易健帐号时承诺遵守法律法规、社会主义制度、国家利益、公民合法权益、公共秩序、社会道德风尚和信息真实性
        等七条底线，不得在御易健帐号注册资料中出现违法和不良信息，且用户保证其在注册和使用帐号时，不得有以下情形：</p>
    <p>（1）违反宪法或法律法规规定的；</p>
    <p>（2）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</p>
    <p>（3）损害国家荣誉和利益的，损害公共利益的；</p>
    <p>（4）煽动民族仇恨、民族歧视，破坏民族团结的；</p>
    <p>（5）破坏国家宗教政策，宣扬邪教和封建迷信的；</p>
    <p>（6）散布谣言，扰乱社会秩序，破坏社会稳定的；</p>
    <p>（7）散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</p>
    <p>（8）侮辱或者诽谤他人，侵害他人合法权益的；</p>
    <p>（9）含有法律、行政法规禁止的其他内容的。</p>
    <p>若用户提供给御易健的帐号注册资料不准确，不真实，含有违法或不良信息的，御易健平台有权不予注册，
        并保留终止用户使用御易健平台各项服务的权利。若用户以虚假信息骗取帐号注册或帐号头像、个人简介等注册资料存在违法和不良信息的，御易健平台
        有权采取通知限期改正、暂停使用、注销登记等措施。对于冒用关联机构或社会名人注册帐号名称的，御易健平台有权注销该帐号，并向政府主管部门进行报告。
    根据相关法律、法规规定以及考虑到御易健产品服务的重要性，用户同意：</p>
    <p>（1）在注册御易健帐号时提交个人有效身份信息进行实名认证；</p>
    <p>（2）提供及时、详尽及准确的账户注册资料；</p>
    <p>（3）不断更新注册资料，符合及时、详尽准确的要求，对注册御易健帐号时填写的身份证件信息不能更新。</p>
    <p>用户同意，其提供的真实、准确、合法的御易健帐号注册资料是作为认定用户与其御易健帐号的关联性以及用户身份的唯一证据。
        用户在享用御易健各项服务的同时，同意接受御易健提供的各类信息服务。御易健平台提醒用户，用户注册御易健帐号或更新注册信息时填写的证件号码，在注册御易健帐号成
        功或补充填写后将无法进行修改，请用户慎重填写各类注册信息。</p>
    <p>为使用户及时、全面了解御易健平台提供的各项服务，用户同意，御易健平台可以多次、长期向用户发送各类商业性短信息而无需另行获得用户的同意。</p>
    <p> 用户同意与注册、使用御易健帐号相关的一切资料、数据和记录，包括但不限于御易健帐号、注册资料、所有登录、消费记录和相关的使用统计数字等归御易健平台所有。发生争议时，用户同意以御易健平台的系统数据为准，御易健平台保证该数据的真实性。</p>
    <p>尽管有前述约定，对于用户使用御易健帐号享受御易健平台旗下单项服务时产生的一切数据，包括但不限于产品登录记录、消费记录及其他产品日志、产品客户服
        务记录、用户在产品中创造的社会网络内容等，归具体产品运营主体所有。发生争议时，用户同意以具体产品运营主体的系统数据为准。但是如果单项条款存在与前述不同
        的约定，则以单项条款约定为准。</p>
     <h2>7、服务条款的修改</h2>
    <p>御易健平台有权在必要时通过在网页上发出公告等合理方式修改本服务条款以及各单项服务的相关条款。
        用户在享受各项服务时，应当及时查阅了解修改的内容，并自觉遵守本服务条款以及该单项服务的相关条款。用户如继续使用本服务条款涉及的服务，
        则视为对修改内容的同意，当发生有关争议时，以最新的服务条款为准；用户在不同意修改内容的情况下，有权停止使用本服务条款涉及的服务。</p>
    <h2>8、服务的变更或中止</h2>
    <p>御易健始终在不断变更和改进服务。御易健平台可能会增加或删除功能，也可能暂停或彻底停止某项服务。
        用户同意御易健平台有权行使上述权利且不需对用户或第三方承担任何责任。</p>
    <h2>9、用户隐私制度</h2>
    <p>用户知悉并同意，为便于向用户提供更好的服务，御易健平台将在用户自愿选择服务或者提供信息的情况下收集用
        户的个人信息，并将这些信息进行整合。在用户使用御易健服务时，服务器会自动记录一些信息，包括但不限于URL、IP地址、浏览器类型、使用语言、访问日
        期和时间等。为方便用户登录或使用御易健的服务，御易健平台在有需要时将使用cookies等技术，并将收集到的信息发送到对应的服务器。用户可以选择接受
        或者拒绝cookies。如用户选择拒绝cookies，则用户有可能无法登录或使用依赖于cookies的服务或者功能。御易健收集的信息将成为御易健平台常规商业档案
        的一部分，且有可能因为转让、合并、收购、重组等原因而被转移到御易健平台的继任公司或者指定的一方。御易健平台同意善意使用收集的信息，且采取各
        项措施保证信息安全。
    </p>
    <p>尊重用户个人隐私是御易健平台的一项基本政策。所以，御易健平台不会公开或透露用户的注册资料及保存在御易健各项服务中的非公开内容，
        除非御易健平台在诚信的基础上认为透露这些信息在以下几种情况是必要的：</p>
    <p>（1）事先获得用户的明确授权；</p>
    <p>（2）遵守有关法律规定，包括在国家有关机关查询时，提供用户的注册信息、用户在御易健的网页上发布的信息内容及其发
        布时间、互联网地址或者域名；</p>
    <p>（3）保持维护御易健的知识产权和其他重要权利；</p>
    <p>（4）在紧急情况下竭力维护用户个人和社会大众的隐私安全；</p>
    <p>（5）根据本条款相关规定或者御易健认为必要的其他情况下。</p>
    <p> 御易健平台可能会与第三方合作向用户提供相关的网络服务，在此情况下，如该第三方同意承担
        与御易健平台同等的保护用户隐私的责任，则御易健平台可将用户信息提供给该第三方。</p>
    <h2>10、用户的帐号、密码和安全性</h2>
    <p>用户一旦注册成功成为用户，用户将得到一个密码和帐号。用户可随时改变用户的密码和图标，也可以结束旧的
        帐户重开一个新帐户。用户应维持密码及帐号的机密安全，如果用户未保管好自己的帐号和密码而对用户、御易健平台或第三方造成损害，用户将负全部责任。
        用户同意若发现任何非法使用用户帐号或安全漏洞的情况，有义务立即通告御易健平台。</p>
    <h2>11、关于不可抗力条款</h2>
    <p>御易健平台对不可抗力导致的损失不承担责任。本服务条款所指不可抗力包括：天灾、法律法规或政府
        指令的变更，因网络服务特性而特有的原因，例如境内外基础电信运营商的故障、计算机或互联网相关技术缺陷、互联网覆盖范围限制、计算机病毒、
        黑客攻击等因素，及其他合法范围内的不能预见、不能避免并不能客服的客观情况。</p>
    <p><b>本服务条款的最终解释权归御邦医通所有。</b></p>

</div>

</body></html>