<div class="weui-toptips weui-toptips_warn js_tooltips"></div>
<form action="" method="post" onsubmit="submitOrder(); return false;" id="orderForm">
    <div class="weui-cells__title">请选择预约日期</div>
    <div class="weui-cells weui-cells_radio" id="oDate">
    </div>
    <div class="weui-cells__title">请选择预约时间</div>
    <div class="weui-cells weui-cells_radio" id="sHour">
        <label class="weui-cell weui-check__label" for="sHour_12">
            <div class="weui-cell__bd">
                <p>12:00~13:00<span id="num_12"></span></p>
            </div>
            <div class="weui-cell__ft">
                <input type="radio" class="weui-check" name="sHour" id="sHour_12" value="12" />
                <span class="weui-icon-checked"></span>
            </div>
        </label>
        <label class="weui-cell weui-check__label" for="sHour_13">
            <div class="weui-cell__bd">
                <p>13:00~14:00<span id="num_13"></span></p>
            </div>
            <div class="weui-cell__ft">
                <input type="radio" class="weui-check" name="sHour" id="sHour_13" value="13" />
                <span class="weui-icon-checked"></span>
            </div>
        </label>
        <label class="weui-cell weui-check__label" for="sHour_14">
            <div class="weui-cell__bd">
                <p>14:00~15:00<span id="num_14"></span></p>
            </div>
            <div class="weui-cell__ft">
                <input type="radio" class="weui-check" name="sHour" id="sHour_14" value="14" />
                <span class="weui-icon-checked"></span>
            </div>
        </label>
        <label class="weui-cell weui-check__label" for="sHour_16">
            <div class="weui-cell__bd">
                <p>16:00~17:00<span id="num_16"></span></p>
            </div>
            <div class="weui-cell__ft">
                <input type="radio" class="weui-check" name="sHour" id="sHour_16" value="16" />
                <span class="weui-icon-checked"></span>
            </div>
        </label>
        <label class="weui-cell weui-check__label" for="sHour_17">
            <div class="weui-cell__bd">
                <p>17:00~18:00<span id="num_17"></span></p>
            </div>
            <div class="weui-cell__ft">
                <input type="radio" class="weui-check" name="sHour" id="sHour_17" value="17" />
                <span class="weui-icon-checked"></span>
            </div>
        </label>
        <label class="weui-cell weui-check__label" for="sHour_18">
            <div class="weui-cell__bd">
                <p>18:00~19:00<span id="num_18"></span></p>
            </div>
            <div class="weui-cell__ft">
                <input type="radio" class="weui-check" name="sHour" id="sHour_18" value="18" />
                <span class="weui-icon-checked"></span>
            </div>
        </label>
    </div>

    <div class="weui-cells__tips">每个用户只有一次预约机会，请您确保您预约的时间与现有安排不冲突后再提交。</div>
    <div class="weui-btn-area" style="padding-bottom: 15px;">
        <button type="button" class="weui-btn weui-btn_primary weui-btn_disabled" id="orderSubmitButton" disabled="disabled">确定</a>
    </div>
</form>

<div class="weui-msg" style="display: none;" id="hasOrder">
    <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
    <div class="weui-msg__text-area">
        <p class="weui-msg__desc">您已预约过本项服务</p>
    </div>
    <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
            <a href="{{ env('APP_URL') }}my" class="weui-btn weui-btn_primary">查看我的预约</a>
        </p>
    </div>
</div>
<div>
    <div id="loadingToast" style="display:none;">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast">
            <i class="weui-loading weui-icon_toast"></i>
            <p class="weui-toast__content">数据加载中</p>
        </div>
    </div>
    <div id="successToast" style="display: none;">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast">
            <i class="weui-icon-success-no-circle weui-icon_toast"></i>
            <p class="weui-toast__content">预约成功</p>
        </div>
    </div>
    <div id="confirmDialog" style="display: none;">
        <div class="weui-mask" onclick="$('#confirmDialog').fadeOut(200);"></div>
        <div class="weui-dialog">
            <div class="weui-dialog__bd">您即将预约 <span style="color: red" id="dialogTime"></span> 的服务，提交预约后将不能更改或取消，请您确保您预约的时间与现有安排不冲突后再提交</div>
            <div class="weui-dialog__ft" onclick="$('#confirmDialog').fadeOut(200);">
                <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default">取消</a>
                <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary">确认预约</a>
            </div>
        </div>
    </div>
</div>

<script>
